<div id="bookings" class="container">
	<div class="content">
		<header><%= t(:"application.account.bookings.index.title") %></header>
		<% if collection.present? %>
			<div class="bookings">
			    <%= render partial: "deal", collection: collection %>
			</div>
		<% else %>
            <p><%= t(:"application.account.bookings.index.empty") %></p>
		<% end %>
	</div>
</div>