<div id="bookings" class="container">
	<div class="content">
		<header>Your bookings</header>
		<% if collection.present? %>
			<div class="bookings">
			    <%= render partial: "deal", collection: collection %>
			</div>
		<% else %>
            <p>You currently have no bookings.</p>
		<% end %>
	</div>
</div>