<% unless current_user.paymentable?  %>
	<div class="payment-status" style="display:none;">Verifying payment ...</div>
	<div class="payment-errors" style="display:none;"></div>
	<%= text_field_tag nil, nil, data: { stripe: :number }, placeholder: "Card number", label: false %>
	<%= text_field_tag nil, nil, data: { stripe: :cvc }, placeholder: "CVC", label: false, class: "cvc" %>
	<%= nice_select(select_tag nil, options_for_select(1..12), data: { stripe: :exp_month }, prompt: 'Exp month') %>
	<%= nice_select(select_tag nil, options_for_select(Time.now.year..10.years.from_now.year), data: { stripe: :exp_year }, prompt: 'Exp year') %>
<% end %>
