<h1>How do you want to get paid</h1>
<p>
<span class="btn button gross">Bank Accout</span>
</p>
<p>
<span class="btn button gross">Paypal Accout</span>
</p>
<p>
<%= link_to "Do it later", account_conversations_path, class: "btn button gross" %>
</p>

