<div data-lightbox="auto"  style="display:none;">
    <div class="devise-lightbox center" style="min-height:230px;">
        <p><strong><%= t(:"application.profiles.preview.follow_modal.title") %></strong></p>
        <div class="btns">
			<div class="btn-center btn-inline" style="display:inline-block;position:relative;bottom:5px;">
				<a href="https://twitter.com/sidestagehq" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @sidestagehq</a>
			</div>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

			<div class="btn-center btn-inline" style="display: inline-block;position: relative;left: 5px;">
				<div class="fb-like-box" data-href="https://www.facebook.com/sidestagehq" data-width="190" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
			</div>
		</div>
    </div>
</div>