<aside>
	<div class="sidebar">
		<h4>Account</h4>
		<%= link_to "- Account details", account_personal_path %>
		<h4>Security</h4>
	  <%= link_to "- Change password", password_account_personal_path %>
	  <h4>Payment</h4>
	  <%= link_to "- Add/edit credit card", payment_details_account_personal_path %>
	  <%- if false -%>
	  <h4>Phone</h4>
	  <%= link_to "- Verify Phone Number", mobile_nr_account_personal_path %>
	  <%- end -%>
	</div>
</aside>