<aside>
  <header></header>
  <h4><%= link_to "Account", account_personal_path %></h4>
  <h4><%= link_to "Password", password_account_personal_path %></h4>
  <h4><%= link_to "Payment", payment_account_personal_path %></h4>
</aside>