<label>Name and Email</label>
<%= f.input :full_name, label: false %>
<%= f.input :email, label: false %>
<%#= f.input :about, label: "Tell our community something about you" %>

<div class="input">
  <%= f.submit class: "btn" %>
</div>
