<div id="personals" class="container">

    <aside>
        <div class="sidebar"></div>
    </aside>

    <div class="content payment">
        <%= render "customer_payment_details" %>
    </div>
</div>