<div id="personals" class="navigated container">
  <%= render partial: 'account/shared/navigation', locals: {page: :account} %>
  <%= render "sidebar" %>

  <div class="content payment">
      <%= render "customer_payment_details" %>
  </div>
</div>