<div id="personals" class="container">
  <%= render "sidebar" %>

  <div class="content">
    <header>Account details</header>
    <%= simple_form_for resource, url: account_personal_path, html: { multipart: true } do |f| %>
      <%= render "user_form", f: f %>
    <% end %>
  </div>
</div>