<div class="picture metro <%= klass %>">
	<%= image_tag pic.picture.url(:medium_rect), alt: pic.caption || resource.name %>
	<div class="gradient-overlay"></div>
	<div class="caption"><%= pic.caption %></div>
</div>