<%# TODO: Set placeholder image %>
<%# TODO: Set real image %>
<%# TODO: Set real city %>

<div class="artist">
  <div class="photo">
    <h3><%= artist.user.name %></h3>
    <div class="city">Berlin</div>
  </div>
  <div class="label">
    <div class="genres">Jazz my ass</div>
    <div class="price">from <strong><%= number_to_currency 326 %></strong></div>
  </div>
  
  <%= link_to "View Profile", artist_path(artist) %>
</div>
