<div id="artists">

  <aside>
    Filter Artists
  </aside>  

  <div class="content">
    <header>
      <div class="results-count">315 Artists found</div>
      <div class="results-order">
        <%= link_to "Popularity", nil %>
        <%= link_to "Name", nil %>
        <%= link_to "Price", nil %>
      </div>
    </header>
    
    <div class="results">
      <%= render partial: 'artists/artist', collection: collection %>  
    </div>
  </div>

</div>
