<ul>
    <% collection.each do |profile| %>
        <li>
            <h4><%= profile.user.name %></h4>
            <%= link_to "View Profile", artist_path(profile) %>
        </li>    
    <% end %>
</ul>    