<div id="artists">

  <div class="content">
    <header>
      <div class="results-order">
        <%= link_to "Name", nil, class: "active" %>
        <%= sorty :price, label: "Price" %>
      </div>
    </header>
    
    <div class="results">
      <%= render partial: 'artists/artist', collection: collection %>  
    </div>
  </div>

</div>
