<div id="profile" class="container">

    <aside>
        <div class="sidebar"></div>
    </aside>

    <div class="content mobile-numbers">
        <%= render "account/mobile_numbers/verification", user: User::AsMobileNumber.find(current_user.id) %>
    </div>
</div>
