<tr>
    <td>
        <%= search_query.location %> <span class="label label-default">latitude: <%= search_query.query[:lat] %>, longitude: <%= search_query.query[:lng] %></span>
    </td>    
</tr>    