#artist
  +outer-container
  
  .content
    +span-columns(5)
    width: 620px

    .about
      display: block
      width: 100%
      margin-top: 10px

      p
        margin-bottom: 10px
        font-size: 16px

      .toggle-about-text
        color: $text-color-light
        cursor: pointer

    h2
      font-size: 65px
      margin: 0 0 10px
      line-height: 1em

    .title
      font-size: 24px

    .tab
      > a.delete
        position: absolute
        right: 0
        bottom: 5px
        padding: 8px 20px
        background-color: rgba(0,0,0,0.8)
        color: white

        &:hover
          background-color: $red

      .media-type-form
        width: 100%
        height: 350px
        padding: 100px 50px 50px
        text-align: center
        background-color: #FFFED1
        border: 2px solid #fef44b

        .open-input-field
          cursor: pointer
          z-index: 10dsf
          font-size: 14px
          padding: 20px 0
          display: block
          pointer-events: none
          +transition(color 400ms ceaser($easeOutExpo))

          &:hover
            color: $text-color-light

        > p
          margin: 10px 0
          color: $text-color-light
          pointer-events: none

          strong
            pointer-events: none

        a.link
          margin: 20px 0
          display: inline-block

      .media-type-field
        width: 100%
        // height: 350px
        // background-color: #FFF
        // border: 2px solid $border-color
        display: none
        // padding: 20px

        label
          font-size: 14px
          color: $text-color-light
          margin-left: 10px

        textarea
          // border: none
          font-weight: 300
          // background-color: transparent
          padding: 20px
          height: 350px

        .btn
          // position: absolute
          // bottom: 20px
          // left: 42%

    .soundcloud-widget,
    .youtube-widget
      background-color: #ddd
      margin-bottom: 20px

    .picture-viewer
      .thumbs
        overflow: hidden
        padding: 0
        margin-bottom: 20px

        .thumb
          position: relative
          border: 1px solid $border-color
          float: left
          height: 70px
          list-style-type: none
          margin: 8px 8px 0 0
          text-indent: 0
          width: 70px
          cursor: pointer
          +transition(opacity 600ms ceaser($easeOutExpo))
          +omega(8n)

          .delete
            position: absolute
            bottom: 2px
            right: 2px
            color: $red

          &:hover
            +opacity(0.8)

          &.add-photo-btn
            background-color: $red
            font-size: 44px
            font-weight: 100
            text-align: center
            color: white
            border: none

            &:hover
              background-color: lighten($red, 10%)

          &#file-upload-status
            border: none
            text-align: center
            font-size: 14px
            padding-top: 5px
            display: none

            .loader
              position: relative
              left: 14px
              margin-bottom: 3px

        form
          display: none
    
  aside
    float: right
    width: 260px
    padding-top: 10px
    margin-top: 40px

    .booking-teaser
      +box
      padding: 16px 29px
      text-align: center
      background-color: #FFF
      position: relative

      .photo
        padding: 13px

        img
          max-width: 100%

      .name
        font-size: 24px
        font-weight: 400

      .label
        margin-top: 7px
        color: $text-color-light
        font-size: 18px

        &.message-artist
          margin: 15px 0 5px

          a
            color: $text-color-light
            display: block
            font-size: 15px
            padding: 11px 0
            border: 1px solid $border-color

            &:hover
              color: $text-color

      .price
        color: $text-color
        font-size: 44px
        font-weight: 700

      .date
        margin: 20px 0 0
        position: relative

        .fa
          position: absolute
          right: 14px
          top: 12px
          color: $text-color-light
          pointer-events: none

      .btn
        margin-top: 0
        margin-bottom: 14px
        width: 100%

    .verifications
      margin-top: 30px
      +box

      header
        text-align: center
        border-bottom: 1px solid $border-color
        padding: 15px
        font-size: 18px

      .body
        padding: 25px 30px 15px

        p.verification
          position: relative
          margin: 0 0 15px 50px
          font-size: 16px

          i.fa
            position: absolute
            color: #00b5ff
            font-size: 28px
            left: -35px
            top: 0

          span.light
            font-size: 14px

  
  .share-btn
    margin: 0 10px 15px 0
    display: inline-block
    font-size: 12px
    font-weight: 400

    i.fa
      margin-right: 4px

  .like-btn
    position: relative
    top: -7px
    color: $btn-facebook-color

  .tweet-btn
    color: $btn-twitter-color !important
    position: relative
    top: -5px


















