#artist
  +outer-container
  
  .content
    +span-columns(5)

    .excerpt
      margin: 20px 0 35px

    .soundcloud-widget,
    .youtube-widget
      background-color: #ddd
      margin-bottom: 20px

    .thumbs
      overflow: hidden
      padding: 0

      .thumb
        border: 1px solid $border-color
        float: left
        height: 70px
        list-style-type: none
        margin-right: 10px
        text-indent: 0
        width: 70px
    
  aside
    +span-columns(2)
    +shift(1)
    
    .requirements
      margin-top: 35px
      h3
        font-weight: 400

.social-share-dummy
  +retina-sprite(social-share, $sprite, $sprite2x)

.booking-teaser
  +box
  padding: 25px 30px 25px
  text-align: center

  .label

  .price
    color: $text-color
    font-size: 64px
    font-weight: 400
    margin-top: -8px

  .date
    margin: 20px 0 15px

  .btn-submit
    margin-bottom: 8px

.artist-teaser
  +box
  padding: 15px
  text-align: center
  background-color: #fff

  .photo
    img
      max-width: 100%

  .name
    color: $text-color
    font-size: 22px
    font-weight: normal
    margin: 19px 0 16px

  .button




























