#artist
  +outer-container
  
  .content
    +span-columns(5)
    width: 620px
    margin-right: 0

    h2
      font-size: 65px
      margin: 0

    p
      margin: 0 0 10px

    .title

    .social-share-dummy
      +retina-sprite(social-share, $sprite, $sprite2x)
      margin: 15px 0

    .soundcloud-widget,
    .youtube-widget
      background-color: #ddd
      margin-bottom: 20px

    .picture-viewer
      margin-top: 30px

      .picture


      .thumbs
        overflow: hidden
        padding: 0
        margin-bottom: 20px

        .thumb
          border: 1px solid $border-color
          float: left
          height: 70px
          list-style-type: none
          margin-right: 18px
          text-indent: 0
          width: 70px
          cursor: pointer
          +transition(opacity 600ms ceaser($easeOutExpo))

          &:hover
            +opacity(0.8)

    .reviews
      margin: 40px 0 0

      .review
        display: inline-block
        margin-bottom: 20px

        .photo
          width: 70px
          height: 70px
          float: left

        .body
          +box
          background-color: #fff
          padding: 17px 20px 15px 20px
          float: left
          width: 530px
          position: relative
          margin-left: 20px

          .dreieck
            width: 18px
            height: 18px
            background-color: #FFF
            +transform(rotate(-45deg))
            +box-shadow(inset 1px 1px 0 0px #DDD)
            position: absolute
            top: 18px
            left: -10px

          h5
            font-size: 14px
            margin: 0 0 10px

            span
              float: right
              color: $text-color-light
              font-weight: 300
              font-size: 12px
              position: relative
              top: 3px

          p
            margin: 0

          .rating
            margin-top: 10px

            i
              color: #CCC
              margin-right: 2px
              font-size: 20px
              
              &.active
                color: #ffbd00
    
  aside
    +span-columns(2)
    +shift(1)

    .booking-teaser
      +box
      padding: 10px 12px 10px
      text-align: center

      .photo
        padding: 15px

        img
          max-width: 100%

      .name
        color: $text-color
        font-size: 22px
        font-weight: 400

      .label
        color: $text-color-light
        margin-bottom: 20px

        &.message-artist
          margin: 20px 0 10px

          a
            color: $text-color-light
            font-size: 15px

      .price
        color: $text-color
        font-size: 44px
        font-weight: 700
        margin-bottom: 28px

      .date
        margin: 20px 0 -37px

        input
          height: auto

        .fa
          position: relative
          left: 80px
          bottom: 52px
          color: $text-color-light

      .btn-submit
        margin-bottom: 8px
        width: 100%


















