#bookings
	.booking
		+outer-container
		padding: 25px 0

		.photo
			+span-columns(1 of 12)
			overflow: hidden

			img
				width: 100%

		.negotiator
			+span-columns(2 of 12)
			font-size: 18px
			font-weight: 400
			margin-top: 30px

		.infos
			+span-columns(3 of 12)
			text-align: center
			padding-top: 15px

			.date
				font-weight: 400
				margin-bottom: 20px

		.actions
			// +shift(1 of 10)
			+span-columns(3 of 12)
			padding-top: 10px
			text-align: center

			.btn
				display: inline-block
