#dashboard

	header
		height: 62px

		.headline
			+span-columns(3 of 6)
			+bigger-font
			font-weight: 700

		.links
			+span-columns(3 of 6)
			text-align: right

			a
				margin-left: 10px
				font-size: 18px
				font-weight: 400