#edit-pictures
	aside
		+span-columns(2)

	.content
		+span-columns(6)

		header
			border: none
			margin-bottom: 20px

			p
				font-size: 17px
				font-weight: 300
				margin: 5px 0

		.picture-upload
			margin: 10px 0 40px
			+span-columns(5)

			form
				+span-columns(3)

			#file-upload-status
				+span-columns(5)
				+omega
				position: relative
				background: $border-color
				+border-radius(2px)
				margin-top: 12px
				height: 14px

				.value
					position: absolute
					top: 0
					left: 0
					background: $blue
					height: 100%
					+transition(width 800ms ceaser($easeOutCirc))
					+transition-delay(400ms)

		.pictures
			+span-columns(5)
			min-height: 1px

			.picture
				+span-columns(1 of 2)
				+omega(2n)
				margin-bottom: 18px
				position: relative
				width: 205px
				// height: 205px
				
				.loading
					position: absolute
					top: 82px
					left: 65px
					text-align: center

					i.fa-spinner
						font-size: 28px
						color: $red

					p
						font-size: 13px
						font-weight: 400
						color: $text-color-light
						margin-top: 5px

				img
					position: relative

				.actions
					+opacity(0)
					+actions-link

				&:hover
					.actions
						+opacity(1)

				form
					margin-top: 10px

		aside.hint
			+span-columns(3)
			+omega
			font-size: 14px
			padding-left: 20px
			color: $text-color-light