#profile

	aside

		h4
			color: $text-color
			text-transform: uppercase
			margin-bottom: 10px

		a
			color: $text-color-light
			padding: 14px 10px
			display: block
			border-left: 1px solid #EEE
			margin-bottom: 15px
			width: 200px
			+transition(all 600ms ceaser($easeOutExpo))

			&:hover
				color: inherit
				border-left: 1px solid $blue

			&.active
				color: inherit
				border-left: 1px solid $blue

	header
		+bigger-font
		font-weight: 700
		height: 62px

	.content

		form

			span
				+span-columns(1 of 6)
				text-align: center

				label
					margin-top: 5px

			span:nth-child(6)
				margin-right: 0px
