#edit-pictures
	.content
		.picture-upload
			margin: 10px 0 40px
			+span-columns(5)

			form
				+span-columns(3)

			#file-upload-status
				+span-columns(5)
				+omega
				position: relative
				background: $border-color
				+border-radius(2px)
				margin-top: 12px
				height: 14px

				.value
					position: absolute
					top: 0
					left: 0
					background: $blue
					height: 100%
					+transition(width 800ms ceaser($easeOutCirc))
					+transition-delay(400ms)

		.pictures
			+span-columns(8)
			min-height: 1px

			.picture
				+span-columns(1 of 3)
				// +omega(3n) // sonst funzt sortable nicht
				margin-bottom: 18px
				position: relative
				width: 205px
				min-height: 279px
				cursor: move

				&:nth-child(3n+1)
					clear: none

				&.ui-sortable-placeholder
					border: 1px dashed $border-color
					visibility: visible !important

				textarea
					margin-bottom: 0
				
				.loading
					position: absolute
					top: 70px
					left: 65px
					text-align: center

					i.fa-spinner
						font-size: 28px
						color: $red

					p
						font-size: 13px
						font-weight: 400
						color: $text-color-light
						margin-top: 5px

				.image
					width: 100%
					height: 169px
					border: 1px solid $border-color

				img
					position: relative
					width: initial
					height: 100%

				.actions
					+opacity(0)
					+actions-link

				&:hover
					.actions
						+opacity(1)

				form
					margin-top: 10px








