#edit-pictures
  aside
    +span-columns(2)

  .content
    +span-columns(6)

    header
      +bigger-font
      margin-bottom: 20px

    #pictures
      +outer-container

      .picture
        +span-columns(2 of 6)
        +omega(3n)
        margin-bottom: 10px

        .actions
          margin-top: 5px

          a
            color: #f00
