$btn-color: #D0021B
$input-color: black

body.black
	.brand
		+span-columns(8)
		text-align: center
		margin-top: 40px

		img
			width: 150px
			pointer-events: none


section.express-booking
	+span-columns(3 of 9)
	+shift(3 of 9)
	padding: 50px 0 0

	&.invite-friends
		+span-columns(4)
		+shift(2)
		padding-left: 0

		> input
			float: left
			text-align: center
			padding: 10px
			margin-top: 30px

	&.index
		+span-columns(4)
		+shift(2)
		padding-top: 20px

		p
			font-size: 24px

			&.light
				font-size: 18px
				margin-top: 10px

		.btns
			text-align: center

	p
		font-size: 18px
		margin-bottom: 20px
		+span-columns(8)

		a.light
			margin-top: 10px
			display: block

		&.confirmed
			i.fa
				font-size: 30px
				top: 2px
				position: relative
				margin-right: 10px
				color: #417505

		&.share
			color: $text-color-light

			span
				font-size: 18px
				float: left

			a
				float: left
				margin-left: 15px
				font-size: 22px
				color: $text-color-light
				position: relative
				bottom: 3px

	em
		font-size: 16px
		margin: 30px 0 10px
		width: 100%
		float: left

	img
		width: 150px
		margin-bottom: 50px

		&.icon
			width: 40px
			margin-bottom: 10px

	.text-with-select
		+span-columns(8)
		margin-bottom: 10px

		p
			margin-top: 8px
			width: auto

		.nice-select
			margin-left: 0px
			width: 200px
			float: left

	.nice-select
		height: 50px
		margin-bottom: 8px
		color: $input-color

		.select-label-value
			font-weight: 600
			top: 12px
			font-size: 18px
			color: $input-color

		.select-arrow
			top: 15px
			font-size: 22px
			color: $input-color

	input
		height: 50px
		margin-bottom: 8px
		font-size: 18px

		&[type="text"]
			color: $input-color

	textarea
		font-size: 18px

	.btns
		margin: 10px 0
		+span-columns(8)

		.btn
			+big-buttons
			background-color: $btn-color

			&:hover
				background-color: darken($btn-color, 5%)

	form#new_event
		+span-columns(8)

		.step-1

			.date
				+span-columns(5)

				input
					padding: 10px 12px 9px
					font-weight: 600

				::-webkit-input-placeholder
					color: $input-color !important

				\:-moz-placeholder
					color: $input-color !important
					opacity:  1

				::-moz-placeholder
					color: $input-color !important
					opacity:  1

				\:-ms-input-placeholder
					color: $input-color !important

				i.fa
					top: 18px
					color: $text-color

			.nice-select
				+span-columns(3)
				+omega(2n)

				&:nth-child(3)
					+span-columns(8)

	.coupon-inputs
		a.link.coupon-show,
		a
			margin: 8px 0 5px
			color: $blue
			text-decoration: none

		> div
			input,
			button
				height: 50px

			.input
				+span-columns(2 of 3)

				input
					width: 100%

			button
				+span-columns(1 of 3)
				+omega
				font-size: 18px
				outline: none

			> span
				position: absolute
				top: 9px
				left: 100%
				width: 200px

	form.edit_event
		p
			display: none

		.form-inputs
			input
				+span-columns(8)

				&.cc-exp,
				&.cc-cvc
					+span-columns(4)

				&:last-child
					+omega

	.field_with_errors
		input
			border: 3px solid #EE0815

		.error
			display: none





