.new-profile-form
	.part
		+span-columns(8)
		margin-bottom: 30px

		h3
			font-size: 14px
			font-weight: 400
			margin: 0 0 10px

		.act
			+span-columns(1 of 4)
			text-align: center

		&.genres
			.nice-select
				margin: 0

				&.active
					background-color: #eee
					border: 1px solid $border-color

				.select-label-value
					top: 11px
					width: 70%
					white-space: nowrap
					overflow: hidden
					color: $text-color

		&.city
			.nice-select
				background-color: #EAEDED
				display: inline-block
				text-align: center
				width: 260px

			input
				width: 260px

// genre select -------
// --------------------
.new-profile-form,
.match-me-form
	.act
		.label
			position: relative
			cursor: pointer
			padding-top: 10px
			width: 100%
			height: 42px
			+border-radius($border-radius)
			background-color: #fff
			border: 1px solid $border-color
			text-decoration: none

			&:hover
				color: $text-color-light

		&.active
			.label
				background-color: #eee

			&:hover
				.label
					color: inherit