#new-profile
	margin: 0 auto
	position: relative
	text-align: center

	hr
		border-top: 1px solid $border-color

	header
		+span-columns(8)
		border-bottom: 1px solid $border-color
		padding-bottom: 25px

		h2
			font-size: 36px
			color: #484D4F

		p
			font-size: 18px
			font-weight: 300
			color: #000

	.input
		+span-columns(8)
		border-bottom: 1px solid $border-color
		padding-bottom: 50px

		h3
			color: #484D4F
			font-size: 22px
			font-weight: bold
			margin: 22px 0 30px

		.act
			+span-columns(3 of 6)

			.photo
				width: 360px
				height: 130px
				overflow: hidden

				img
					width: 360px

		label
			font-size: 22px
			position: relative
			top: 20px
			cursor: pointer
			color: #484D4F

			&:hover
				color: #55B1FF
				text-decoration: underline

			&.active
				+border-radius($border-radius)
				background-color: #eee
				border: 1px solid #CBD1D4
				padding: 10px 40px
				color: #000
				text-decoration: none

		.genre

			span
				+span-columns(1 of 6)
				+omega(6n)

		.nice-select
			width: 260px
			height: 50px
			font-size: 22px
			text-align: center
			display: inline-block
			background-color: #EAEDED

			.select-label
				top: 9px

			.select-arrow
				top: 20px

		&.last
			padding-bottom: 0
			margin-bottom: -5px
			border-bottom: none

		.gross
			margin-top: 40px
			display: inline-block

