#new-profile
	margin: 0 auto
	position: relative
	text-align: center
	width: 764px

	hr
		border-top: 1px solid $border-color

	header
		+span-columns(8)
		border-bottom: 1px solid $border-color
		padding-bottom: 25px

		h2
			font-size: 36px
			color: #484D4F

		p
			font-size: 18px
			font-weight: 300
			color: #000