.page
	+span-columns(6)
	+shift(1)

	header
		margin-bottom: 30px

		h4
			margin-bottom: 10px

	.content
		margin-top: 275px

	.email-signup
		position: relative
		width: 280px
		margin: 30px auto 0
		text-align: center
		padding: 30px 20px

		> img
			width: 80px
			height: 80px
			margin: 0 auto 20px

		h3
			font-size: 16px
			font-weight: 300

		.landing-page-subtitle
			font-size: 18px
			font-weight: 400

		form
			margin-top: 30px

			input[type="text"]
				width: 100%

			[type="submit"]
				position: relative
				margin: 20px auto 0
				font-size: 14px

	.press
		text-align: center

		h2
			text-transform: capitalize

		.press-coverage
			+outer-container

			h3
				+span-columns(8)
				margin-top: 30px

			table
				font-size: 14px
				text-align: left
				+span-columns(8)

				tbody
					+span-columns(8)

				tr
					padding: 5px 0
					+span-columns(8)
					
					td
						padding: 7px 10px

					td:first-child
						+span-columns(1)

					td:nth-child(2)
						font-weight: 500
						+span-columns(2)

					td:last-child
						+span-columns(5)
						+omega

				a
					color: $blue

	.match-me-form
		padding: 0 100px

		label
			margin-top: 20px

		.labels
			+outer-container

			.act
				+span-columns(1 of 3)
				+omega(3n)
				margin-bottom: 20px

				input[type="checkbox"]
					display: none

				.label
					text-align: center

		.input
			+span-columns(8)

			&.event input
				width: 350px

			&.number input
				width: 80px

			&.event-date .date
				width: 200px

			&.zip
				+span-columns(2)

			&.phone
				+span-columns(6)
				+omega

				input
					width: 250px

			&.name,
			&.email
				+span-columns(3)

			&.email
				+span-columns(5)
				+omega

		.btn
			margin-top: 30px








