.page
	+span-columns(6)
	+shift(1)

	header
		margin-bottom: 30px

		h4
			margin-bottom: 10px

		p
			font-size: 16px

	.content
		margin-top: 275px

	.email-signup
		position: relative
		width: 490px
		margin: 30px auto 0
		text-align: center
		padding: 30px 20px

		> img
			width: 80px
			height: 80px
			margin: 0 auto 20px

		h3
			font-size: 16px
			font-weight: 300

		.landing-page-subtitle
			font-size: 18px
			font-weight: 400

		form
			margin: 15px auto 0 auto
			// width: 280px

			// input[type="text"]
			// 	width: 100%

			[type="submit"]
				position: relative
				margin: 20px auto 0
				font-size: 14px

		.artist_apply
			padding: 10px 0
			border-top: 1px solid $border-color

			a
				text-decoration: underline

	.press
		text-align: center

		h2
			text-transform: capitalize

		.press-coverage
			+outer-container

			h3
				+span-columns(8)
				margin-top: 30px

			table
				font-size: 16px
				text-align: left
				+span-columns(8)
				margin-bottom: 20px

				tbody
					+span-columns(8)

				tr
					padding: 5px 0
					+span-columns(8)
					
					td
						padding: 7px 10px

					td:first-child
						+span-columns(1)

					td:nth-child(2)
						font-weight: 500
						+span-columns(2)

					td:last-child
						+span-columns(5)
						+omega

				a
					color: $blue
					font-size: inherit








