#personals
	h4
		margin: 0 0 20px

		a
			&:hover
				text-decoration: underline
				color: $blue

	.content

		form
			width: 350px

		.credit-card-info
			+span-columns(5 of 8)

			p
				margin: 0 0 5px

			.footnote
				margin-top: 100px
				font-size: 16px

		.buttons
			+span-columns(3 of 8)
			+omega

			a
				float: left

				&.delete
					position: relative
					top: 19px
					left: 19px

		.payment-form
			+span-columns(5 of 8)

			.btn
				display: inline-block

			.cvc
				width: 70px

			.nice-select
				float: left
				width: 35%
				margin-right: 16px

			.footnote
				margin-top: 50px
				font-size: 16px

// PAYMENT FORM ---
// ----------------
.payment-form

	.btn
		display: inline-block