#personals
	.content
		.avatar-uploader
			position: relative
			margin-bottom: 20px

			.avatar
				width: 100px
				height: 100px
				background: url(fallback/thumb_avatar.jpg) no-repeat center
				background-size: 100px
				cursor: pointer

			a
				position: absolute
				top: 50px
				left: 140px

		form
			width: 350px
			margin-bottom: 30px

		.credit-card-info
			+span-columns(4 of 8)

			p
				margin: 0 0 5px

			.footnote
				margin-top: 100px

		.buttons
			+span-columns(4 of 8)
			+omega
			padding-top: 20px

			a
				float: left

				&.delete
					position: relative
					top: 19px
					left: 19px

		.payment-form
			+span-columns(5 of 8)

			.btn
				display: inline-block

			.cvc
				width: 70px

			.nice-select
				float: left
				width: 35%
				margin-right: 16px

			.footnote
				margin-top: 50px

			.btns
				float: left

				a
					display: block
					text-align: center
					color: $text-color-light

		.footnote
			font-size: 16px

		&.mobile-numbers
			width: 45%

			a.delete-link
				margin-left: 40px

			form.confirm-mobile-num-form
				+span-columns(6)

				.user_as_mobile_number_mobile_confirmation_code
					+span-columns(5)
				
				.btn
					+span-columns(3)
					+omega
					margin-top: 31px

	p
		margin-bottom: 28px

// PAYMENT FORM ---
// ----------------
.payment-form

	.btn
		display: inline-block