.publish
  background: #F8E71C
  margin: -34px 0 30px
  text-align: right
  width: 100%

  .btn-accept
    +linear-gradient(to bottom, #7ae85a, #4ade22)
    display: inline-block

    &:hover
      +linear-gradient(to bottom, #7ae85a, #4ade22)

  .btn-danger
    +linear-gradient(to bottom, #f01e4a, #e50014)
    display: inline-block

    &:hover
      +linear-gradient(to bottom, #f01e4a, #e50014)

  .btn-default
    +linear-gradient(to bottom, #bbb, #999)
    display: inline-block

    &:hover
      +linear-gradient(to bottom, #bbb, #999)
