.publish
  background: #F8E71C
  margin: -35px 0 30px
  text-align: left
  width: 100%

  p
    float: left

  .btn-publish
    background: #1D7C05
    display: inline-block
    color: white
    border: none

    &:hover
      background: darken(#1D7C05, 10%)
      color: white

  .btn-default
    background: #999
    display: inline-block

    &:hover
      background: darken(#999, 10%)
