.publish
  background: #F8E71C
  margin: -34px 0 30px
  text-align: right
  width: 100%

  .btn-accept
    background: #7ae85a
    display: inline-block

    &:hover
      background: darken(#7ae85a, 10%)

  .btn-danger
    background: $red
    display: inline-block

    &:hover
      background: darken($red, 10%)

  .btn-default
    background: #999
    display: inline-block

    &:hover
      background: darken(#999, 10%)
