<div id="dashboard" class="container">
	<header>Dashboard</header>

	<div class="content">
		<% current_user.conversations.each do |conversation| %>
		  <%= render conversation %>
		<% end %>
	</div>
</div>