<div id="dashboard">
	<header>
		<div class="headline">
			Dashboard
		</div>
	</header>

	<div class="content">
		<% current_user.conversations.each do |conversation| %>
		    <%= render conversation %>
		<% end %>
	</div>
</div>