<div id="dashboard">
	<header>
		<div class="headline">
			Dashboard
		</div>
		<div class="links">
			<%= link_to "Inbox", account_conversations_path %>
			<%= link_to "Account", account_personal_path %>
		</div>
	</header>

	<div class="content">
		<% current_user.conversations.each do |conversation| %>
		    <%= render conversation %>
		<% end %>
	</div>
</div>