<% if @elastic.present? && @elastic.results.total > 0 %>
    <h4>Found total: <%= @elastic.results.total %></h4>
    <table class="table table-striped table-hover">
        <thead>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </thead>        
        <% @elastic.results.map { |r| r['_type'].classify.constantize.find(r['_id']) }.each do |hit| %>
            <%= render "#{hit.class.name.underscore}", hit.class.name.underscore.to_sym => hit %>
        <% end %>
    </table>
<% end %>