<div class="wrap page">

	<div class="landing-page-container email-signup">
		<img src="<%= asset_path('sidestage_brand.png') %>">

		<h3><%= t(:"application.city_launches.desc") %></h3>
        
        <section id="newsletter">
        	<%= render "mailchimp_subscription", list_id: :newsletter %>
        </section>
        
	</div>

</div>