<div class="modal fade" id="conversation_messages_<%= parent.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Conversation between Artist and Customer</h4>
            </div>
            <div class="modal-body">
                <table class="table table-condensed conversation-messages">
                    <% collection.each do |message| %>
                        <tr>
                            <td><%= l message.created_at, format: :conversation_message %></td>
                            <td><%= message.sender.profile_name %>: <%= message_body(message) %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>