<a href="#" class="btn btn-confirm"><i class='fa fa-check'></i> Confirmed</a>

<%= link_to "Cancel", "#" , data: { lightbox: :html, target: "[data-container='cancel-offer']" }, class: "btn cancel-booking" %>
