<section class="event">
	
	<p><%= t(:"application.events.thanks.desc") %></p>

    <div class="btns">
    	<%= link_to t(:"application.links.like_us"), "https://www.facebook.com/sidestagehq", class: "btn btn-inline" %>
    </div>
</section>