<section class="event">
	
	<p>Thanks for your response!</p>

    <div class="btns">
    	<%= link_to "Like us on Facebook", "https://www.facebook.com/sidestagehq", class: "btn btn-inline" %>
    </div>
</section>