<div class="wrap page">

	<h2>Cancellations</h2>

	Sidestage has a simple cancellation policy in place to protect artists. If you cancel a confirmed booking, you are entitled to a refund as follows:<br>

	<ul>
		<li>To get a full refund, cancel 2 weeks in advance. For example, if the event is on Friday the 15th, you would need to cancel by Friday the 1st.</li>
		<li>To get a 50% refund, cancel 3 days in advance. For example, if your event is on Friday evening, you would need to cancel by Tuesday evening.</li>
		<li>No refund if you cancel less than 24 hours in advance. For example, if your event is Friday evening, and you cancel Friday morning.</li>
	</ul> 
	<br>
	Bookings that have not been confirmed can be cancelled for free. Sidestage does not bill your credit card until a booking is confirmed.<br>
	 
	If an artist cancels:<br>

	<ul>
		<li>A full refund will be given</li>
	</ul>
	<br>
	Sidestage will mediate when necessary and has final say in all disputes.<br><br><br>

	<% if true %>

		<h2>Cancellation Policies</h2>
		
		Sidestage allows artists to choose among three standardized cancellation policies (Flexible, Moderate, and Strict) that we will enforce to protect both users and musicians. Each artist profile on our site will clearly state the cancellation policy. <br><br>

		<strong>Flexible: Full refund 1 day before the event, except fees</strong><br><br>

		For a full refund, cancellation must be made a full 24 hours before to the event. For example, if the event is on Friday at 7pm, cancel by 7pm Thursday of that week. <br><br>

		<strong>Moderate: Full refund 5 days prior to event, except fees</strong><br><br>

		For a full refund, cancellation must be made five full days before the event. For example, if the event is on Friday, cancel by the previous Sunday before. <br><br>

		<strong>Strict: 50% refund up until 1 week prior to event, except fees</strong><br><br>

		For a 50% refund, cancellation must be made seven full days prior to the event, otherwise no refund. For example, if the event is on Friday, cancel by Friday of the previous week.<br><br>

		<strong>Last-minute cancellations are non-refundable.</strong><br><br>

		Any cancellation that occurs within 24 hours before the event is non-refundable. <br><br>
	<% end %>
	
</div>