<div class="wrap page">

	<div class="landing-page-container email-signup">
		<h3>We're coming to a city near you.</h3>

		<div class="landing-page-subtitle">Sign up to be notified when Sidestage launches in your city.</div>

		<div class="form">
			<form>
				<input type="text" placeholder="Your email">
				<input type="text" placeholder="Your city">
				<input type="submit" value="Sign up" class="btn">
			</form>
		</div>
	</div>

</div>