<div class="wrap page">

	<h2>Sidestage FAQ</h2><br>

	<h3>What’s Sidestage’s cancellation policy?</h3>

	<ul>
		<li>You can cancel your booking up to two weeks in advance for a full refund.</li> 
		<li>If you cancel your booking less than two weeks in advance, you’ll get a refund of 80% of the booking price.</li> 
		<li>If you cancel your booking less than 3 days in advance, you’ll get a refund of 50% of the booking price.</li>
	</ul> 

	<h3>What if the artist cancels on me? </h3>

	Though rare, in some cases artists have to cancel bookings because they’re sick, or unexpectedly traveling. In that case, you will be entitled to a full refund. We’ll do everything we can to help you book another artist for the date and time you want. 

	<h3>Can the artist change their price?</h3>

	Sometimes, to cover additional costs, the artist may request to change the price for an event. However, an artist can not change the the price once the booking is confirmed. Any price change, done before the booking is confirmed, will have to be approved by you. 

	<h3>What’s included in the artist’s price that I see on the website?</h3>

	The price you see next to an artist’s name on our website is the minimum the artist will charge. This will typically include one set, or a minimum play time. If you require the artist to play longer, travel or bring additional equipment or musicians, the artist will likely change the price to cover those additional costs. 

	<h3>Who’s your payment provider? </h3>

	We’re currently using Stripe to process payments. 

	<h3>How do I book an artist?</h3>

	To book an artist, navigate to their profile page. Select the date that you would like to book the artist, and click “Book now.” The artist will be notified about the booking request, and have the opportunity to accept or decline your request. 

	If they accept, your booking will be immediately confirmed and you’ll be notified. If they decline, you’ll also be notified. 

	<h3>Can the artist change the price once I’ve sent a booking request?</h3> 

	Depending on your requirements, the artist may increase their price to cover additional costs, such as bringing equipment or travel time. 

	<h3>How do I create an artist profile?</h3> 

	To create an artist page, go to sidestage.com and click “Create Artist Profile”. If you have already created a Sidestage user account, you’ll need to use a different email address when you go to create an artist profile.

	<h3>How do I unpublish my artist profile?</h3>

	To unpublish your artist page, go to your Profile > View Artist Page and then click Unpublish. 

	<h3>How do I delete my account?</h3> 

	Sent us an email to support@sidestage.com. We’ll remove your account within 24 hours. 

	<h3>How do I contact support?</h3> 

	You can contact us via email, support@sidestage.com. We’ll do our best to respond to you within 12 hours. 
	
</div>