<div class="wrap page">

	<h2>Sidestage FAQ</h2><br>

	<h3>Why should I pay and communicate only through Sidestage?</h3>

	Sidestage is a new way of doing business in an old school industry. Hiring musicians has always been difficult because you have to negotiate a price, and trust the musician to do a great job. Sidestage’s system is designed to give you peace of mind. Paying and communicating only through the Sidestage platform is key to making your experience as positive and secure as possible. <br> <br>

	When you book through Sidestage, payments go through our secure structure and are not released to the other party until after the reservation has begun. Sidestage also provides private messaging for users, verifications such as email, Facebook and mobile numbers, so you can be sure of who you’re transacting with. <br><br>

	By conducting your transactions on the site, you also have access to:
	<ul>
		<li>Our customer service team</li>
		<li>The opportunity to review artists after you complete bookings</li>
		<li>An amazing community of like-minded people who love new music, and support musicians financially</li>
	</ul>
	<br>
	Artists also enjoy:
	<ul>
		<li>A cancellation policy for your bookings, enabling you to receive a partial or full payout in the event of a cancellation</li>
		<li>Reviews to help you build your reputation</li>
	</ul>
	<br>
	Paying outside the Sidestage system is not secure, and we cannot provide access to these benefits when reservations aren’t booked directly through our website. If someone asks you to pay outside of Sidestage, please report it to support@sidestage.com immediately. <br><br>

	<h3>What’s Sidestage’s cancellation policy?</h3>

	Please review our cancellation policy at <a href="http://www.sidestage.com/en/cancellations">sidestage.com/en/cancellations.</a>

	<h3>What if the artist cancels on me? </h3>

	Though rare, in some cases artists have to cancel bookings because they’re sick, or unexpectedly traveling. In that case, you will be entitled to a full refund. We’ll do everything we can to help you book another artist for the date and time you want. 

	<h3>Can the artist change their price?</h3>

	Sometimes, to cover additional costs, the artist may request to change the price for an event. However, an artist can not change the the price once the booking is confirmed. Any price change, done before the booking is confirmed, will have to be approved by you. 

	<h3>What’s included in the artist’s price that I see on the website?</h3>

	The price you see next to an artist’s name on our website is the minimum the artist will charge. This will typically include one set, or a minimum play time. If you require the artist to play longer, travel or bring additional equipment or musicians, the artist will likely change the price to cover those additional costs. 

	<h3>Who’s your payment provider? </h3>

	We’re currently using Stripe to process payments. 

	<h3>How do I book an artist?</h3>

	To book an artist, navigate to their profile page. Select the date that you would like to book the artist, and click “Book now.” The artist will be notified about the booking request, and have the opportunity to accept or decline your request. 

	If they accept, your booking will be immediately confirmed and you’ll be notified. If they decline, you’ll also be notified. 

	<h3>Can the artist change the price once I’ve sent a booking request?</h3> 

	Depending on your requirements, the artist may increase their price to cover additional costs, such as bringing equipment or travel time. 

	<h3>How do I create an artist profile?</h3> 

	To create an artist page, go to sidestage.com and click “Create Artist Profile”. If you have already created a Sidestage user account, you’ll need to use a different email address when you go to create an artist profile.

	<h3>How do I unpublish my artist profile?</h3>

	To unpublish your artist page, go to your Profile > View Artist Page and then click Unpublish. 

	<h3>How do I delete my account?</h3> 

	Sent us an email to support@sidestage.com. We’ll remove your account within 24 hours. 

	<h3>How do I contact support?</h3> 

	You can contact us via email, support@sidestage.com. We’ll do our best to respond to you within 12 hours. 
	
</div>