<div class="wrap page">

	<h2>Jobs</h2><br>

	We’re a small team, just starting out. We work out of the <a href="http://www.factoryberlin.com" target="_blank">Factory</a>, Berlin’s new startup hub, that’s home to SoundCloud and 6Wunderkinder. We’ve raised some financing, and looking for people to join our team in Berlin. <br><br>

	If you love music, and have skills as a designer or online marketeer, drop us a note. We’re specifically looking for a product designer and an expert in customer acquisition, preferably someone who’s built a marketplace before. <br><br>

	If you’re interested in talking with us, send an email to <a href="mailto:schuyler@sidestge.com">schuyler@sidestge.com</a>.<br><br>

	PS, If you’re a designer, your first job will be to get this page in shape! <br><br>

</div>