<div class="wrap page">

	<div class="match-me-form">
		<header>
			<h4>Match Me</h4>
			<p>Get matched with an amazing musician for your event.</p>
		</header>

	<!-- FORM begin -->
	<form>
		<div class="form-inputs">

			<div class="input event">
				<label>What kind of event is it?</label>
				<input type="text" placeholder="e.g. Wedding, birthday party" required>
			</div>

			<div class="input">
				<label>What are you looking for? (Select up to three)</label>
				<div class="labels">
					<div class="act">
						<input type="checkbox" name="genre" value="DJ">
						<div class="label">DJ</div>
					</div>
					<div class="act">
						<input type="checkbox" name="genre" value="Band">
						<div class="label">Band</div>
					</div>
					<div class="act">
						<input type="checkbox" name="genre" value="Classical">
						<div class="label">Classical</div>
					</div>
					<div class="act">
						<input type="checkbox" name="genre" value="Piano Player">
						<div class="label">Piano Player</div>
					</div>
					<div class="act">
						<input type="checkbox" name="genre" value="I'm not sure">
						<div class="label">I'm not sure</div>
					</div>
				</div>
			</div>			

			<div class="input number">
			<label>How many people are coming? (Leave blank if you don't know.)</label>
			<input type="number" placeholder="100" maxlength="5">
			</div>

			<div class="input number">
			<label>What's your max budget?</label>
			<input type="number" placeholder="$600" min="10" maxlength="5" required>
			</div>

			<p class="btn btn-blue btn-inline">Next</p>

			<br><br><br>

			<header>
				<h4>When and Where?</h4>
				<p>A musician will only see your phone number once a booking is confirmed.</p>
			</header>

			<div class="input event-date">
				<label>Event date (you can change it later)</label>
				<div class="date">
		      <input type="text" class="date-picker" placeholder="Aug 30, 2014" required>
		        <i class="fa fa-calendar"></i>
		    </div>
	    </div>

	    <div class="input zip">
				<label>ZIP code</label>
				<input type="number" placeholder="90046" maxlength="5" required>
			</div>

			<div class="input phone">
				<label>Phone number</label>
				<input type="number" placeholder="(323) 545-8175" maxlength="12" required>
			</div>

			<div class="input name">
				<label>Name</label>
				<input type="text" placeholder="Name" required>
			</div>

			<div class="input email">
				<label>Email</label>
				<input type="email" placeholder="who@where.com" required>
			</div>

			<div class="input details">
				<label>Anything else you'd like the musician to know?</label>
				<textarea placeholder="The more detail you provide about your event, the better we can match you."></textarea>
			</div>

			<div class="input submit">
				<input type="submit" class="btn btn-blue btn-inline" value="Get Matched">
			</div>

		</div>
	</form>
	<!-- Form ends -->

	</div>

</div>