<div class="wrap page">

	<div class="press">
		<h2>Join our press list</h2>
		
		<section id="newsletter">
			<%= render "mailchimp_subscription", list_id: :press %>
		</section>
        
	  <br>
	  <h2>Press Coverage</h2>

	  <div class="press-coverage">
	  	<h3>October 2014</h3>
		  <table>
		  	<thead></thead>
		  	<tbody>
		  		<tr>
		  			<td>10/14/2014</td>
		  			<td>NPR</td>
		  			<td><a href="http://www.nprberlin.de/post/two-berlin-startups-taking-booker-out-bookings" target="_blank">Two Berlin Startups Taking the Booker out of Bookings</a></td>
		  		</tr>
		  		<tr>
		  			<td>10/07/2014</td>
		  			<td>Financial Times</td>
		  			<td><a href="http://www.ft.com/intl/cms/s/0/b4084ee8-4aea-11e4-b1be-00144feab7de.html" target="_blank">Performers for hire</a></td>
		  		</tr>
		  	</tbody>
		  </table>

	  	<h3>September 2014</h3>
		  <table>
		  	<thead></thead>
		  	<tbody>
		  		<tr>
		  			<td>09/24/2014</td>
		  			<td>The Wall Street Journal</td>
		  			<td><a href="http://www.wsj.de/nachrichten/SB10349853011903034570704580173740659310562?mg=reno64-wsjde" target="_blank">Sidestage: Berlins „Airbnb für Musiker" nimmt New York ins Visier</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/10/2014</td>
		  			<td>Tech.eu</td>
		  			<td><a href="http://tech.eu/features/2620/music-startups-europe/" target="_blank">Getting in tune: 15 European startups making (sound) waves in the music industry</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/05/2014</td>
		  			<td>Complete Music Update</td>
		  			<td><a href="http://www.completemusicupdate.com/article/gig-booking-service-sidestage-launches-in-london/" target="_blank">Gig booking service Sidestage launches in London</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/04/2014</td>
		  			<td>Music Ally</td>
		  			<td><a href="http://musically.com/2014/09/04/berlin-based-bookings-platform-sidestage-expands-london/" target="_blank">Berlin-based bookings platform Sidestage expands to London</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/04/2014</td>
		  			<td>Music Week</td>
		  			<td><a href="http://www.musicweek.com/news/read/gig-booking-platform-sidestage-expands-to-london/059487" target="_blank">Gig booking platform Sidestage expands to London</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/02/2014</td>
		  			<td>Hypebot</td>
		  			<td><a href="http://www.hypebot.com/hypebot/2014/09/gig-booking-site-sidestage-adds-london.html" target="_blank">Gig Booking Site Sidestage Adds London</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/02/2014</td>
		  			<td>Venture Village</td>
		  			<td><a href="http://venturevillage.eu/sidestage-enters-uk-5-weeks-after-launching" target="_blank">Sidestage enters UK 5 weeks after launching</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/02/2014</td>
		  			<td>The Next Web</td>
		  			<td><a href="http://thenextweb.com/insider/2014/09/02/sidestage-brings-musician-booking-platform-london/" target="_blank">Sidestage brings its musician-booking platform to London</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/02/2014</td>
		  			<td>Silicon Allee</td>
		  			<td><a href="http://news.siliconallee.com/2014/09/02/musician-booking-platform-sidestage-launches-in-london/" target="_blank">Musician Booking Platform Sidestage Launches In London</a></td>
		  		</tr>
		  		<tr>
		  			<td>09/01/2014</td>
		  			<td>Soundkartell</td>
		  			<td><a href="http://www.soundkartell.de/sidestage/" target="_blank">Innovative Plattform für junge Bands & Künstler</a></td>
		  		</tr>
		  	</tbody>
		  </table>

	  	<h3>August 2014</h3>
		  <table>
		  	<thead></thead>
		  	<tbody>
		  		<tr>
		  			<td>08/15/2014</td>
		  			<td>Berlin Loves You</td>
		  			<td><a href="http://berlinlovesyou.com/2014/08/15/sidestage-booking-musicians-everyone-made-easy/" target="_blank">Sidestage booking musicians for everyone made easy</a></td>
		  		</tr>
		  	</tbody>
		  </table>
		  
	  	<h3>July 2014</h3>
		  <table>
		  	<thead></thead>
		  	<tbody>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>TechCrunch</td>
		  			<td><a href="http://techcrunch.com/2014/07/28/now-sidestage-joins-gigit-in-the-race-to-empower-bands-to-get-gigs/"  target="_blank">“Now Sidestage Joins Gigit In The Race To Empower Bands To Get Gigs”</a></td>
		  		</tr>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>The Next Web</td>
		  			<td><a href="http://thenextweb.com/insider/2014/07/28/sidestage-helps-book-bands-musicians-events/"  target="_blank">“Sidestage helps you book bands and musicians for all your events”</a></td>
		  		</tr>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>Berliner Morgenpost</td>
		  			<td><a href="http://gruenderzeit.morgenpost.de/2014/07/28/sidestage-ist-neuer-marktplatz-fuer-live-acts/"  target="_blank">“Sidestage ist neuer Marktplatz für Live Acts”</a></td>
		  		</tr>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>Silicon Allee</td>
		  			<td><a href="http://news.siliconallee.com/2014/07/28/hitting-the-right-note-musician-marketplace-sidestage-launches/"  target="_blank">“Hitting the right note: Musician marketplace Sidestage launches”</a></td>
		  		</tr>
		  	</tbody>
		  </table>

	  </div>
	</div>
</div>