<div class="wrap page">

	<div class="press">
		<h2>Join our press list</h2>

        <%= render "mailchimp_subscription", list_id: :press %>
        
	  <br>
	  <h2>Press Coverage</h2>

	  <div class="press-coverage">
	  	<h3>July 2014</h3>

		  <table>
		  	<thead></thead>
		  	<tbody>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>TechCrunch</td>
		  			<td><a href="http://techcrunch.com/2014/07/28/now-sidestage-joins-gigit-in-the-race-to-empower-bands-to-get-gigs/"  target="_blank">“Now Sidestage Joins Gigit In The Race To Empower Bands To Get Gigs”</a></td>
		  		</tr>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>The Next Web</td>
		  			<td><a href="http://thenextweb.com/insider/2014/07/28/sidestage-helps-book-bands-musicians-events/"  target="_blank">“Sidestage helps you book bands and musicians for all your events”</a></td>
		  		</tr>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>Berliner Morgenpost</td>
		  			<td><a href="http://gruenderzeit.morgenpost.de/2014/07/28/sidestage-ist-neuer-marktplatz-fuer-live-acts/"  target="_blank">“Sidestage ist neuer Marktplatz für Live Acts”</a></td>
		  		</tr>
		  		<tr>
		  			<td>07/28/2014</td>
		  			<td>Silicon Allee</td>
		  			<td><a href="http://news.siliconallee.com/2014/07/28/hitting-the-right-note-musician-marketplace-sidestage-launches/"  target="_blank">“Hitting the right note: Musician marketplace Sidestage launches”</a></td>
		  		</tr>
		  	</tbody>
		  </table>

	  </div>
	</div>
</div>