<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
    <%= @profile.user.name %><br>
    <%= @profile.user.email %>
</p>

<a style="padding: 20px 25px 18px; background: #3e8ae5; color: #fff; font-weight: 600; margin-bottom: 30px; font-size: 15px; border-radius: 4px; display: inline-block; text-decoration: none;" href="<%= artist_url(@profile) %>"><%= @profile.name %></a>