<div class="input">
    <%= render "account/profiles/artist_type", f: f %>
</div>  

<div class="genres">
	<%= render "account/profiles/genres", f: f %>
</div>

<div class="input city last">
	<%= render "account/profiles/location_field", f: f %>
</div>

<%= render "account/profiles/submit", f: f %>
