<div class="part">
    <%= render "account/profiles/artist_type", f: f %>
</div>  

<div class="part genres">
	<%= render "account/profiles/genres", f: f %>
</div>

<div class="part city last">
	<%= render "account/profiles/location_field", f: f %>
</div>

<%= render "account/profiles/submit", f: f %>
