<div class="inputs profile_name">
	<%= f.input :name, hint: false %>
	<div class="hint"><%#= t(:"simple_form.hints.profile.name") %></div>
</div>
<div class="inputs profile_title">
	<%= f.input :title, as: :string, hint: false %>
	<div class="hint"><%#= t(:"simple_form.hints.profile.title") %></div>
</div>
<div class="inputs profile_about">
	<%= f.input :about, hint: false, placeholder: "Please don't include website links, email addresses or phone numbers in this area." %>
	<div class="hint"><%#= t(:"simple_form.hints.profile.about") %></div>
</div>
<!-- TODO: Website input -->

<%= render "account/profiles/submit", f: f %>
