<div data-lightbox="auto"  style="display:none;">
    <div class="devise-lightbox">
        <h1><%= t(:"application.profiles.preview.share_modal.title") %></h1>
        <p><%= t(:"application.profiles.preview.share_modal.desc") %></p>
        <p>
            <%= link_to t(:"application.profiles.preview.share_modal.share_on_fb"), "http://www.facebook.com/sharer/sharer.php?u=#{artist_url(@profile)}", class: "btn btn-dark-blue" %>
        </p>
        <p>
            <%= link_to t(:"application.profiles.preview.share_modal.share_on_twitter"), "https://twitter.com/intent/tweet?url=#{artist_url(@profile)}", class: "btn btn-dark-blue" %>
        </p>
    </div>
</div>