<div class="publish-btn">
    <% if @profile.wizard_complete? %>
        <%= link_to t(:"application.links.publish.toggle_#{@profile.published?}"), toggle_account_profile_path, method: :put, class: "btn btn-publish" %>
    <% else %>
        <div class="missing"><%= t(:"application.profiles.sidebar.completion_hint", count: @profile.remaining_wizard_steps_count) %></div>
    <% end %>

    <% if @profile.published? %>
	    <%= link_to t(:"application.profiles.sidebar.view_link"), artist_path(@profile), class: "link" %>
	<% else %>
	    <%= link_to t(:"application.profiles.sidebar.preview_link"), preview_account_profile_path, class: "link" %>
	<% end %>
</div>