<div class="input btns">
    <% if controller_name == "profile_completion" %>
	    <%= f.submit value: t(:"helpers.submit.save_continue"), class: "btn btn-save-continue" %>		
	<% else %>    
        <%= f.submit class: "btn right" %>
	<% end %>
</div>
