<div class="verifications">
  <header>Verifications</header>
  <div class="body">
    <p class="verification">
        <i class="fa fa-check-circle-o"></i><%= User.human_attribute_name(:email) %> <br/> 
        <span class="light"><%= user.confirmed? ? "Verified" : "Unverified" %></span>
    </p>

    <% if user.mobile_nr_confirmed? %>
        <p class="verification">
            <i class="fa fa-check-circle-o"></i> Phone Number <br/>
            <span class="light">*** *** ****** <%= resource.user.mobile_nr[-3, 3] %></span>
        </p>
    <% end %>

    <% if user.provider.to_s.downcase == "facebook" %>
        <p class="verification">
            <i class="fa fa-check-circle-o"></i> Facebook <br/>
            <span class="light">Verified</span> 
        </p>
    <% end %>
  </div>
</div>