<div id="profile" class="container">
  <aside>
    <%= render 'sidebar' %>
  </aside>

  <div class="content">
    <header>Profile</header>
    <div class="new-profile-form">
      <%= simple_form_for [:account, resource], html: { id: "profile-form" } do |f| %>
        <%= render "basics_form", f: f %>
      <% end %>
    </div>
  </div>
</div>      
