<div id="profile" class="container">
  <div class="content">
    <header>Complete your profile</header>

	  <div id="pricing" class="complete-pricing">
	    <%= simple_form_for resource, url: complete_pricing_account_profile_path(resource) do |f| %>
	      <%= render "pricing_form", f: f %>
	    <% end %>
	  </div>
</div>
</div>      
