<div id="profile">

    <aside>
      <header></header>
      <%= render 'sidebar' %>
    </aside>

    <div class="content">
      <header>
        Payment Details
      </header>
      <div class="">
          <h1>How do you want to get paid</h1>
          <p>
          <span class="btn button gross">Bank Accout</span>
          </p>
          <p>
          <%= link_to "Do it later", account_conversations_path, class: "btn button gross" %>
          </p>


      </div>
  </div>
</div>      
