<%- content_for :outer_wrap do -%>
					
<div class="publish">
	<div class="wrap">
		<%= link_to t(:"application.links.edit"), basics_account_profile_path(resource), class: "btn btn-default" %>
		<%= link_to t(:"application.links.publish.toggle_#{resource.published?}"), toggle_account_profile_path(resource), method: :put, class: "btn btn-danger btn-accept" %>
	</div>
</div>            
<% end %>

<%= render '/artists/profile' %>