<%- content_for :outer_wrap do -%>
    <div class="publish">
    	<div class="wrap">
    		<%= link_to t(:"application.links.edit"), style_account_profile_path, class: "btn btn-default" %>
    		<%= link_to t(:"application.links.publish.toggle_#{resource.published?}"), toggle_account_profile_path, method: :put, class: "btn btn-publish" if resource.wizard_complete? %>
    	</div>
    </div>            
<% end %>

<%= render '/artists/profile' %>