<div id="profile" class="container">
  <aside>
    <%= render 'sidebar' %>
  </aside>

  <div class="content">
    <header><%= t(:"application.profiles.pricing.title_html") %></header>
    
    <div id="pricing" class="">
      <%= simple_form_for resource, url: pricing_account_profile_path(resource) do |f| %>
        <%= render "pricing_form", f: f %>
      <% end %>
    </div>
  </div>
</div>      
