<div id="profile" class="container">
  <aside>
    <%= render 'sidebar' %>
  </aside>

  <div class="content">
    <header>Pricing and terms<p>Set your price, name your terms.</p></header>
    
    <div id="pricing" class="">
      <%= simple_form_for resource, url: pricing_account_profile_path(resource) do |f| %>
        <%= render "pricing_form", f: f %>
      <% end %>
    </div>
  </div>
</div>      
