<div style="float: left; width: 100%; text-align: left; margin-top:70px;">
	<div style="position: relative; margin: 0 auto; max-width:680px;">

		<div style="float: left; width: 100%;">
			<div style="float:left;width:50%;">
				<div style="float:left;width:80%;padding-left:28px;">
					<p style="font-size:15px;font-weight:600;">Host a home concert</p>
					<p style="font-size:14px;font-weight:300;">For a fixed price, we'll send a musician we love to your dinner/party.</p>
					<p><a href="#" style="color:#55B1FF;">Learn more.</a></p>
				</div>
				<%= image_tag "icons/ticket_icon.png", style: "float:left;width:35px;margin-top:10px;margin-left:5px;" %>
			</div>

			<div style="float:left;width:50%;">
				<div style="float:left;width:80%;padding-left:28px;border-left:1px solid #ddd;">
					<p style="font-size:15px;font-weight:600;">Hire a musician</p>
					<p style="font-size:14px;font-weight:300;">Looking to hire a band or a DJ for your party, event or wedding? We know hundreds.</p>
					<p><a href="#" style="color:#55B1FF;">Find an artist.</a></p>
				</div>
				<%= image_tag "icons/guitar_icon.png", style: "float:left;width:35px;margin-top:10px;margin-left:5px;" %>
			</div>
		</div>

		<div style="float: left; width: 100%; text-align: center; margin-top: 60px;">
			<%= image_tag "https://www.sidestage.com/assets/sidestage_logo_light-64fc4f8b57cf1a40f7055eaf33186da6.png", style: "width:120px;" %>
		</div>

	</div>
</div>