<div style="float: left; width: 100%; text-align: center; margin-bottom: 30px;">
	<%= image_tag @event_invitation.inviter.avatar.url(:thumb), width: "100", style: "border-radius:50px; border: 3px solid #DDD;" %>
</div>

<div style="float: left; width: 100%; text-align: center; margin-bottom: 30px;">
	<p style='color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;'>
		You're attending a private concert<br> hosted by <%= @event_invitation.inviter.profile_name %> at <%= event_location_time(@event_invitation.event) %>
	</p>
</div>

<%= render partial: "event_invitation_mailer/footer" %>