<div class="booking-teaser">
    <div class="label">Price</div>
    <div class="price">
        <%= localized_price(deal.price_with_surcharge, deal.currency) %>
    </div>
    <div class="label">
        start:<br>
        <span data-deal="start-at"><%= l(deal.start_at, format: :deal_start_at) %></span>
    </div>
    <%= link_to "Cancel", cancel_account_deal_path(deal), method: :put, class: "link" %>    
</div>