<div class="booking">
  <table>
    <tr>
      <!-- TODO: richtiges Format als Text -->
      <td>Event date:</td><td data-deal="start-at"><%= l(deal.start_at, format: :deal_start_at) %></td>
    </tr>
    <tr class="price">
      <td>Price:</td><td><%= localized_price(deal.price_with_surcharge, deal.currency) %></td>
    </tr>
    <!-- <tr>
      <td>Status:</td><td>Another status</td>
    </tr> -->
  </table>

  <hr>

  <%= link_to "Cancel Booking", cancel_account_deal_path(deal), method: :put, class: "btn cancel-booking" if deal.is_customer?(current_user) %>
  <%= link_to "Cancel Booking", reject_account_deal_path(deal), method: :put, class: "btn cancel-booking" if deal.is_artist?(current_user) %>

  <p class="footnote">Need help? Contact <a href="mailto:support@sidestage.com" class="link">support@sidestage.com</a></p>
</div>