<% if deal.is_customer?(current_user) %>
  <div class="booking">
    <p class="light"><%= t(:"application.deals.show.states.cancelled.desc") %></p>
    <%= link_to t(:"application.artists.index.view_profile"), artist_path(deal.artist), class: "btn" %>
  </div>
 <% else %>
 	
<% end %>