<% if deal.is_customer?(current_user) %>
  <div class="booking-teaser">
    <p class="footnote">To make a new booking visit the artist's profile page</p>
    <%= link_to "View profile", artist_path(deal.artist), class: "btn" %>
  </div>
 <% else %>
 	
<% end %>