<% if deal.is_customer?(current_user) %>
  <div class="booking-teaser">
    <p class="footnote"><%= t(:"application.deals.show.states.decliend.desc") %></p>
    <%= link_to t(:"application.deals.show.view_more_artists"), artists_path, class: "btn" %>    
  </div>
<% end %>