<div class="booking-teaser">
    <p>
    Event data: <span data-deal="start-at"><%= l(deal.start_at, format: :event_date) %></span>
    </p>

    <% if deal.is_customer?(current_user) %>
        <p class="price customer">
        Total cost: <%= localized_price(deal.price_with_surcharge, deal.currency) %>
        </p>
        <p>
            We are waiting on the artist to accept your booking
        </p>
        <p>
        <%= link_to "Cancel", cancel_account_deal_path(deal), method: :put, class: "link" %>
        </p>

    <% else %>
        <%= render "account/deals/offerable", deal: deal %>
    <% end %>
    
    <p class="footnote">
        Need help? Contact <a href="mailto:support@sidestage.com" class="link">support@sidestage.com</a>
    </p>
</div>