<div class="not_found">
  <h1>Bummer. We couldn't find the page you're looking for. <br> Since you're here, subscribe for our newsletter.</h1>

  <%= render "mailchimp_subscription", list_id: :newsletter %>

  <p class="go-back"><a href="<%= root_path %>">Or go back to Sidestage</a></p>
</div>