<h1><%= t(:"application.match_me.thanks.title") %></h1>
<p>
    <%= t(:"application.match_me.thanks.desc") %>
</p>    
<%= link_to t(:"application.links.view_profiles"), root_path, class: "bnt btn-blue" %>