<div class="wrap page">
	<div class="match-me-form">
		<section class="thanks">
				<header>
					<h4><%= t(:"application.match_me.thanks.title") %></h4>
					<p><%= t(:"application.match_me.thanks.desc") %></p>
				</header>
				<div class="btns">
					<%= link_to t(:"application.links.view_profiles"), root_path, class: "btn btn-blue btn-center btn-inline" %>
				</div>
		</section>
	</div>
</div>