<div class="wrap page">
	<div class="match-me-form">
		<section class="thanks">
				<header>
					<h4><%= t(:"application.match_me.thanks.title") %></h4>
					<p><%= t(:"application.match_me.thanks.desc") %></p>
				</header>
				<%= render partial: "follow" %>
		</section>
	</div>
</div>

<div class="stack-picks-wrap" style="float:left;width:100%;margin-top:100px;">
	<%= render 'staff_picks' %>
</div>