<div class="message">
    <div class="photo">
      <%= image_tag message.sender.avatar.url(:thumb), class: "avatar" unless message.system_message? %>
    </div>
    <div class="body">
        <!-- TODO: Link auf das Profil des Artists setzen -->
        <h3><%= message.system_message? ? "Sidestage: " : message.sender.name %> - <span><%= message.created_at.strftime("%H:%M") %></span></h3>
        <p>
            <%= message_body(message) %>
        </p>
    </div>    
</div>