<div id="conversations" class="container">
	<header>Messages</header>

	<div class="content">
		<% current_user.conversations.each do |conversation| %>
		    <%= render conversation %>
		<% end %>
	</div>

</div>