<div id="conversations">
	<header>
		Conversations
	</header>

	<div class="content">
		<% current_user.conversations.each do |conversation| %>
			<%= link_to(account_conversation_path(conversation)) do %>
				<div class="message">
					<div class="photo">
						<%= image_tag conversation.negotiator_for(current_user).avatar.url(:thumb), class: "avatar" %>
					</div>
					<div class="body">
						<h3><%= conversation.negotiator_for(current_user).name %></h3>
						<p>
							<%= conversation.body %>
						</p>
					</div>
				</div>
			<% end %>		
		<% end %>
	</div>

</div>