<div id="conversations" class="container">
	<div class="content">
		<header>Messages</header>
		<%- if current_user.conversations.count <= 0 -%>
			<p>You don't have any messages!</p>
		<%- else -%>
			<%- current_user.conversations.each do |conversation| -%>
			  <%= render conversation %>
			<%- end -%>
		<%- end -%>
	</div>

</div>