<div id="conversations">
	<header>
		Conversations
	</header>

	<div class="content">
		<% current_user.conversations.each do |conversation| %>
		    <%= render conversation %>
		<% end %>
	</div>

</div>