<div id="conversations" class="container">
	<div class="content">
		<header>Messages</header>
		<% current_user.conversations.each do |conversation| %>
		    <%= render conversation %>
		<% end %>
	</div>

</div>