<div id="conversations" class="container">
	<div class="content">
		<header>Messages</header>
		<%- if current_user.unarchived_conversations.present? -%>
    		<%- current_user.unarchived_conversations.each do |conversation| -%>
    		  <%= render conversation %>
    		<%- end -%>
		<%- else -%>
		    <p>You don't have any messages!</p>
		<%- end -%>
	</div>

</div>