$blue-btn: #3C8AE5
$btn-facebook-color: #3b5998
$btn-hover-darken-percentage: 10%

.btn
  +border-radius($border-radius)
  background-color: $red
  border: 0
  color: #fff
  cursor: pointer
  display: block
  font-size: 14px
  font-weight: 500
  margin: 10px 0
  padding: 10px 34px
  text-align: center
  
  &:hover
    background-color: darken($red, $btn-hover-darken-percentage)
    color: #fff

  &.btn-inline
    display: inline-block
    margin: 0 0 10px 0

  &.btn-facebook
    background-color: $btn-facebook-color !important

    &:hover
      background-color: darken($btn-facebook-color, 10%) !important

  &.disabled
    background-color: lighten($red, 27%) !important
    cursor: default !important

  &.btn-blue
    background-color: $blue-btn

    &:hover
      background-color: darken($blue-btn, $btn-hover-darken-percentage)
      color: #fff

    &.disabled
      background-color: lighten($blue, 5%) !important

  &.btn-white
    background-color: white
    color: #FFF
    color: $text-color-light
    border: 1px solid $border-color

    &:hover
      background-color: white
      color: $text-color

  &.btn-full
    width: 100%

  &.btn-center
    margin: 0 auto


#personals,
#profile,
.new_user
  .btn
    background-color: $blue-btn

    &:hover
      background-color: darken($blue-btn, $btn-hover-darken-percentage)
      color: #fff
