$btn-submit-top-color: #7bf
$btn-submit-bottom-color: #5af

$btn-important-top-color: #fb5
$btn-important-bottom-color: #fa2

$btn-facebook-color: #3b5998


$btn-hover-darken-percentage: 10%

.btn
  +border-radius($border-radius)
  //+linear-gradient(to bottom, $btn-submit-top-color, $btn-submit-bottom-color)
  background-color: $red
  border: 0
  color: #fff
  cursor: pointer
  display: block
  font-size: 16px
  font-weight: 400
  margin: 10px 0
  padding: 11px 26px 12px
  text-align: center
  
  &:hover
    //+linear-gradient(to bottom, darken($btn-submit-top-color, $btn-hover-darken-percentage), darken($btn-submit-bottom-color, $btn-hover-darken-percentage))
    background-color: darken($red, $btn-hover-darken-percentage)
    color: #fff

  &.btn-inline
    display: inline-block
    margin: 0 0 10px 0

  &.btn-important
    +linear-gradient(to bottom, $btn-important-top-color, $btn-important-bottom-color)

    &:hover
      +linear-gradient(to bottom, darken($btn-important-top-color, $btn-hover-darken-percentage), darken($btn-important-bottom-color, $btn-hover-darken-percentage))

  &.btn-facebook
    background-color: $btn-facebook-color

    &:hover
      background-color: darken($btn-facebook-color, 10%)

  &.disabled
    background-color: lighten($red, 27%) !important
    cursor: default !important


.flat-btn
  +box
  +transition(color 400ms ceaser($easeOutExpo), border-color 400ms ceaser($easeOutExpo))
  color: $text-color
  padding: 3px 13px 4px
  cursor: pointer
  display: block
  
  &:hover
    +transition(color 400ms ceaser($easeOutExpo), border-color 400ms ceaser($easeOutExpo))
    border-color: $blue
    color: $blue

.btn-submitted
  cursor: default

$blue-btn: #3C8AE5

#personals,
#profile
  .btn
    background-color: $blue-btn

    &:hover
      background-color: darken($blue-btn, $btn-hover-darken-percentage)
      color: #fff