.field_with_errors

	textarea,
	input,
	.nice-select
		border-color: #D8000C !important

	.error
		font-size: 14px
		position: relative
		top: -15px
		left: 5px
		color: #D8000C
		font-weight: 400
		text-align: left

.errors,
.error-notification,
.payment-errors,
.error
	color: #D8000C !important

.new_user
	.alert.alert-error
		position: absolute
		width: 100%
		text-align: center
		color: #D8000C
		font-weight: 400
		display: none

	.error-notification
		+span-columns(8)
		text-align: center
		margin-top: 20px

	.form-inputs
		.field_with_errors
			input
				border-color: $border-color !important

			&.user_email
				input
					//border-color: #D8000C !important

				.error
					top: 3px

#new-profile
	.field_with_errors
		display: inline-block
		position: relative
		top: -10px

.new_city_launch,
.parts
	.input
		position: relative

	.error
		// position: absolute
		left: 0
		// top: 10px
		width: 200px
		float: left
		font-size: 13px
		margin-top: 5px

	.form-inputs
		.field_with_errors input
			border: 1px solid $border-color !important
			border-bottom: none !important
		.field_with_errors:last-child input
			border-bottom: 1px solid $border-color !important

.user_as_mobile_number_mobile_nr_country_code
	.error
		position: absolute
		top: -30px
		right: 5px
		left: initial

.user_as_mobile_number_mobile_nr 
	position: relative

	.error
		position: absolute
		top: 11px
		width: 275px
		left: 105%

.deal_price.field_with_errors
	height: 60px

	.error
		position: absolute
		top: 40px
		right: 0
		text-align: right
		width: 190px