#flash-messages
  +transition(height 500ms ceaser($easeOutExpo))
  height: 0
  //margin: 0 0 32px
  overflow: hidden
  padding: 0
  position: absolute
  top: 0 // 80px
  z-index: 400
  width: 100%

  .flash
    color: #fff
    padding: 20px 0 19px
    text-align: center

    &.flash-notice
      background: $flash_green

    &.alert-error, &.flash-error, &.flash-alert
      background: rgb(200, 0, 0)
  
    .flash-message
      +span-columns(7)

      a
        color: white
        text-decoration: underline
        font-size: inherit

        &:hover
          text-decoration: none
          color: inherit

    .flash-close
      +span-columns(1)
      text-align: right

      a
        color: #fff

  &.animation-in
    +transition(height 600ms ceaser($easeOutCirc))
    height: 61px
