input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea
	+box
	color: $text-color
	outline: 0
	padding: 10px 0 11px 11px
	margin-bottom: 20px
	font-size: 16px
	font-weight: 300
	width: 100%
	height: 50px

label
	color: $text-color
	font-weight: 400
	font-size: 16px
	display: block
	margin-bottom: 10px

input[type="file"]
	margin-bottom: 20px
	font-size: 14px
	font-weight: 300
	color: $text-color-light

textarea
	height: 100px
	line-height: 1.5em