.nice-select
  +border-radius($border-radius)
  border: 1px solid $border-color
  height: 50px
  position: relative
  margin-bottom: 20px

  .select-label-value
    position: absolute
    top: 13px
    left: 13px

  .select-label
    color: #6F777B
    font-weight: 300
    left: 12px
    top: 6px

  select
    +opacity(0)
    background-color: #fff
    border: none
    cursor: pointer
    font-size: 14px
    height: 100%
    left: 0
    outline: none
    position: absolute
    top: 6px
    width: 100%

  .select-arrow
    position: absolute
    right: 13px
    top: 16px
    font-size: 18px

