.nice-select
  +border-radius($border-radius)
  border: 1px solid $border-color
  height: 42px
  position: relative
  margin-bottom: 20px

  .select-label-value
    position: absolute
    font-size: 14px
    top: 9px
    left: 13px

  .select-label
    color: #6F777B
    font-weight: 300
    left: 12px
    top: 6px

  select
    +opacity(0)
    background-color: #fff
    border: none
    cursor: pointer
    font-size: 14px
    height: 100%
    left: 0
    top: 0
    outline: none
    position: absolute
    width: 100%

  .select-arrow
    position: absolute
    right: 13px
    top: 14px
    font-size: 16px

  &.small
    height: 36px
    width: 130px
    margin: 0

    .select-label-value
      top: 7px

    .select-arrow
      top: 11px

#artists header form .nice-select
  .select-label-value,
  .select-arrow
    color: black
    font-weight: 600

  .select-label-value
    top: 9px
    font-size: 16px

  .select-arrow
    top: 10px
    font-size: 22px









