nav.tabs
  margin-top: 40px
  +span-columns(8)

  .tab-switch
    color: $text-color-light
    cursor: pointer
    float: left
    font-size: 14px
    padding: 12px 30px
    border-left: 1px solid $border-color
    border-top: 1px solid $border-color
    border-bottom: 1px solid $border-color
    position: relative

    &:hover
      color: #FFF
      background-color: $red

    &.active
      color: #222
      background-color: #FAFAFA

  .tab-switch:first-child
    +border-top-left-radius(4px)
    +border-bottom-left-radius(4px)

  .tab-switch:last-child
    border-right: 1px solid $border-color
    +border-top-right-radius(4px)
    +border-bottom-right-radius(4px)

div.tabs
  margin-top: 30px
  +span-columns(8)

  .tab
    display: none
    position: relative

    h1, h2, h3, h4, h5, h6
      margin-top: 0