<section class="express-booking index">
	<p>For a fixed price, hire a musician to play a private performance at your place or event.</p>

	<%= simple_form_for :event, url: sign_up_express_bookings_path do |f| %>
    	<div class="text-with-select">
    		<p>Book a musician for</p>
    		<%= nice_select(f.select :booking_for , options_for_select(["a dinner party", "an event", "a bar or cafe"]), include_blank: false) %>
    	</div>

    	<div class="btns">
    	    <%= f.submit t(:"application.devise.facebook_signin"), class: "btn btn-inline" %>
    	</div>
	<% end %>

    <p class="light">Musicians play for about an hour. All acts are acoustic, so no special set up is required on your end. <br/> <br/> <%= link_to "Sign in to view pricing.", "#" %> </p>
</section>