<% { notice: :success, alert: :warning, error: :danger }.each do |flash_type, flash_class| %>
    <% if flash[flash_type] %>
        <div class="alert alert-<%= flash_class %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= flash[flash_type] %>
        </div>
    <% end %>
<% end %>