<p class="text-center bg-success">Total: <%= collection.count %></p>

<table class="table table-striped table-hover">
    <%= render "collection_head" %>
    <%= render collection %>
</table>

<%= paginate collection %>