<section class="express-booking confirmation">
	<p class="confirmed"><i class="fa fa-check"></i> <strong>Confirmed! You'll receive an email shortly.</strong></p>
	
	<p>Enter your contact details.</p>

	<%= simple_form_for resource, url: confirmation_account_host_events_path(id: resource.to_param) do |f| %>
	    <%= f.input :address, label: false, placeholder: "Street address and any special arrival instructions" %>
	    <%= f.input :phone, label: false, placeholder: "Mobile number" %>
	    <div class="btns">
			<input type="submit" value="Submit" class="btn btn-inline">
		</div>
	<% end %>
</section>