<section class="express-booking">
	<p>Nice... We've got a great musician there. Add your payment details to firm this up.</p>

	<%= simple_form_for :event, url: confirmation_account_host_events_path do |f| %>
	    <%= render partial: "account/payment_details/payment_form", locals: { f: f } %>

	    <div class="btns">
			<input type="submit" value="Pay" class="btn btn-inline">
		</div>
	<% end %>
	<p class="light">Once payment is confirmed, we'll get your street deets so the musician knows where to go.</p>
</section>