<section class="express-booking">
	<p><strong>Step 2 of 2:</strong></p>
	<p>Confirm your booking.</p>

	<%= simple_form_for resource, url: payment_account_host_event_path(resource), data: { form: "payment" } do |f| %>
	    <%= render "account/payment_details/payment_form", f: f %>
	    <div class="btns">
			<input type="submit" value="Pay $99" class="btn btn-full">
		</div>
	<% end %>

	<p><%= link_to "Go back", new_account_host_event_path , class: "light" %></p>
</section>