<section class="express-booking center">
	<img src="<%= asset_path 'sprite/sidestage-logo.png' %>">
	<p>Congrats on organizing your first Sidestage performance. Tell your friends.</p>

	<em>"I'm hosting a private concert. Message me for more details."</em>

	    <div class="btns">
	    	<a href="#" class="btn btn-inline">Share on facebook</a>
		</div>
</section>