<div id="no-pictures" class="center">
  <%= t(:"application.profiles.pictures.index.empty_html") %>
  <span data-upload="button" id="fileupload-button" class="btn btn-blue btn-inline">Add photos</span>
</div>