<%= content_tag :div, id: dom_id(picture), class: "picture" do %>
	<div class="img">
		<%= image_tag picture.picture.url(:medium_rect) %>
	</div>
	<div class="gradient-overlay"></div>
  <div class="actions">
    <%= link_to "<i class='fa fa-trash-o'></i> #{t(:"application.links.remove")}".html_safe, account_profile_picture_path(picture.imageable, picture), method: :delete, data: {remote: true, confirm: "#{t(:"helpers.confirm.sure")}"} %>
  </div>
<% end %>
