<div class="picture-viewer">
  <div class="thumbs">
    <% resource.pictures.latest.each do |pic| %>
      <div id="<%= dom_id(pic) %>" class="thumb" data-review="<%= pic.picture.url(:preview) %>">
        <%= image_tag pic.picture.url(:thumb) %>
      </div>
    <% end %>
  </div>
  <div class="picture">
    <img>
  </div>
</div>