<div class="picture">
  <%= image_tag picture.picture.url(:medium_rect) %>
  <div class="actions">
    <%= link_to "delete", account_picture_path(picture), method: :delete, data: {remote: true, confirm: "Are you absolutely sure?"} %>
  </div>
</div>
