$("#<%= dom_id(resource) %>").remove();

// function show_p () {
// 	if $("#pictures > div").length == 0 {
// 		$("#pictures").html("<p id='no-pictures' class='light'><%= t(:"application.profiles.pictures.index.empty") %></p>");
// 	}
// }