<div id="edit-pictures">
  <aside>
    <header>
      
    </header>
    <%= render 'account/shared/sidebar_links' %>
  </aside>

  <div class="content">
    <header>
      Profile
    </header>
    
    <div id="pictures">
      <%= render 'pictures' %>
    </div>
  </div>
</div>
