<div id="edit-pictures">
  <aside>
    <header>
      
    </header>
    <%= render 'account/shared/sidebar_links' %>
  </aside>

  <div class="content">
    <header>
      Uploaded Pictures
    </header>
    
    <div id="pictures">
      <%= render 'pictures' %>
    </div>

    <div id="picture-upload">
      <h3>Upload New Pictures</h3>
      <%= form_tag(account_pictures_path, multipart: true, id: "new_picture", method: :post) do %>
        <%= file_field_tag 'file', accept: 'image/png,image/gif,image/jpeg', multiple: true %>
        <a href="#" id="fileupload-button">Upload Pictures</a>
      <% end %>
      <div id="file-upload-status">Upload still running. <span class="value">0</span> left …</div>
    </div>

  </div>
</div>
