.wrap
  +outer-container

#main > .wrap
  padding: 0 19px 50px
  min-width: 1238px
  min-height: 600px
  margin-top: 80px

  &.no-margin
    margin-top: 0

// Sticky Footer
html,
body,
#wrap
  height: 100%

body > #wrap
  height: auto
  min-height: 100%

#wrap.gray_bg
  background-color: $bg-color

ul
  margin: 0
  padding: 0
  list-style: none


// -------- CLEARFIX
/* CLEAR FIX */
.clearfix:after
  clear: both
  content: "."
  display: block
  height: 0
  visibility: hidden

.clearfix
  display: inline-block

/* Bereich nicht für IE-mac Anfang \*/
* html .clearfix
  height: 1%

.clearfix
  display: block
/* Bereich nicht für IE-mac Ende */
// -------- CLEARFIX ENDE

$sidebar-bg-color: #f4f4f4
.container
  +fill-parent
  padding-top: 25px

  header
    +bigger-font
    margin-bottom: 15px

    p
      font-size: 17px
      font-weight: 300
      margin: 10px 0 0

  aside.menu
    .sidebar
      h4
        margin: 0 0 20px
        font-weight: 500
        font-size: 16px

        a
          color: $text-color-light

          &:hover
            color: $text-color

          &.active
            color: $text-color


