body,
input,
select,
button
  font-family: $font-family

a
  +transition(color 400ms ceaser($easeOutExpo))
  color: $text-color
  text-decoration: none
  
  &:hover
    +transition(color 400ms ceaser($easeOutExpo))
    color: lighten($text-color, 50%)
