body,
input,
select,
textarea,
button
  font-family: $font-family

body
  color: $text-color
  font-weight: 300

p
  font-size: 14px

h1,h2,h3,h4,h5,h6
  font-weight: 500

a
  +transition(color 400ms ceaser($easeOutExpo))
  color: $text-color
  text-decoration: none
  font-size: inherit
  font-weight: inherit
  
  &.link
    color: $blue

    &:hover
      text-decoration: underline

=bigger-font
  font-size: 18px
  font-weight: 700
