<div style="float: left; width: 100%; text-align: center; margin-bottom: 30px;">
	<p style='color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;'>
		Thanks for booking a musician on Sidestage. We're sending  a musician to <%= event_location_time(@event) %>.
	</p>
	<p style='color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;'>
		<%= link_to "Invite friends", invite_friends_account_host_event_url(@event), style: "padding: 20px 25px 18px; background: #D0021B; color: #fff; font-weight: 600; margin-bottom: 30px; font-size: 16px; border-radius: 4px; display: inline-block; text-decoration: none;" %>
    </p>
</div>

<div style="float: left; width: 100%; text-align: center; margin-top: 30px;">
	<%= image_tag "https://www.sidestage.com/assets/sidestage_logo_light-64fc4f8b57cf1a40f7055eaf33186da6.png", width: "120" %>
</div>