.devise, .devise-lightbox
  margin: 0 auto
  position: relative
  background-color: #fff
  padding: 40px 30px 30px
  overflow: hidden
  width: 400px
  font-size: 14px

  .link-to-artist-profile
    text-align: center
    margin-bottom: 20px
    font-size: 18px
  
  h2
    margin-top: 0
    font-weight: 400
    line-height: 1.45em
    text-align: center
    font-size: 16px

  h3
    font-weight: 400
    font-size: 24px
    line-height: 1.15em
    margin: 0 0 20px
  
  form
    margin-bottom: 10px

    &#new_message, 
    &#new_deal
      margin-bottom: 0

      .form-inputs
        margin-bottom: 0

        .btn
          margin-bottom: 0

    .form-inputs
      margin: 10px 0 20px
      +span-columns(8)

      label
        text-transform: none
        font-weight: inherit
        display: inherit
        font-size: inherit

      .user_remember_me
        display: inline

      a 
        float: right

    .form-actions
      text-align: center
      +span-columns(8)

      input[type="checkbox"]#user_newsletter_subscribed
        margin-bottom: 10px

      label
        font-weight: 300
        font-size: 14px
        margin: 0 0 15px

      a.link
        padding: 15px 0
        color: $text-color-light
        display: block
        text-decoration: none
      
  .btn
    margin: 0 auto
    //text-transform: capitalize

    &.btn-left
      margin: 0

  .footnote
    text-align: center
    margin: 20px 0

  a.link
    color: #55B1FF
    text-decoration: underline

    &:hover
      text-decoration: none

  .bottom-link
    border-top: 1px solid $border-color
    padding: 15px 0
    text-align: center

    a
      margin-left: 5px

  .bottom-link
    width: 400px
    border-top: 1px solid #dddddd
    padding: 15px 0
    text-align: center
    background-color: #F7F7F7
    margin: 0 -30px -30px

    a
      margin-left: 5px

  .new_deal

    // .cc-cvc
    //   // +span-columns(4)
    //   // +omega

    // .cc-exp
    //   // +span-columns(4)

    .payment-inputs
      width: 79% !important

      > p
        margin-top: 10px

      .cc-cvc
        width: 70px

      .nice-select
        float: left
        width: 35%
        height: 38px
        margin-right: 8px


  .label
    color: $text-color-light
    +span-columns(8)

  .desc
    +span-columns(8)
    margin-top: 15px
    
  .btns
    +span-columns(8)
    padding-top: 15px

    .btn
      margin-bottom: 15px

    .btn:last-child
      margin-bottom: 0

    a.link
      color: $text-color-light
      display: block

  // NEW PRICE
  &.edit_offer,
    padding: 0
    width: 264px

  .photo
    +span-columns(1 of 7)
    overflow: hidden

    img
      width: 100%

  .body
    +span-columns(6 of 7)
    +omega
    //padding-top: 8px
    font-size: 16px

  .new_message
    +span-columns(8)
    margin-top: 20px

  .light.center
    +span-columns(8)

  &.payment_form
    padding: 0

  &.payment_form
    .payment-form
      border: 1px solid $border-color
      +span-columns(8)

      header
        +outer-container
        margin-bottom: 0px
        border-bottom: 1px solid $border-color
        padding: 15px

        .photo
          +span-columns(1 of 7)

        .body
          +span-columns(6 of 7)
          +omega
          padding-top: 10px
          font-size: 16px
          font-weight: 400
          padding-left: 5px

          a
            font-size: inherit

            &:hover
              color: inherit

      > .body
        +span-columns(8)
        padding: 15px

        form > .form-inputs p
          font-size: 16px
          margin-bottom: 10px

        .date,
        .payment-inputs
          +span-columns(5)

        .price
          +span-columns(8)
          padding-top: 15px

        .payment-inputs
          > p
            font-weight: 500

        .price,
        .date
          > p
            font-size: 16px
            margin-bottom: 10px

        .price,
        .payment-inputs
          border-bottom: 1px solid $border-color
        
        .bottom
          +span-columns(8)
          border-top: 1px solid $border-color


