.devise, .devise-lightbox
  margin: 0 auto
  position: relative
  background-color: #fff
  padding: 40px 30px 30px
  overflow: hidden
  width: 400px
  font-size: 14px

  .link-to-artist-profile
    text-align: center
    margin-bottom: 20px
    font-size: 18px
  
  h2
    margin-top: 0
    font-weight: 400
    line-height: 1.45em
    text-align: center
    font-size: 16px

  h3
    font-weight: 400
    font-size: 24px
    line-height: 1.15em
    margin: 0 0 20px
  
  form
    margin-bottom: 10px
    position: relative

    &#new_message, 
    &#new_deal
      margin-bottom: 0

      .form-inputs
        margin-bottom: 0

        .btn
          margin-bottom: 0

    .trigger-email-signup-form
      +span-columns(8)
      +omega
      cursor: pointer
      text-align: center
      margin: 30px 0 10px
      font-weight: 400
      font-size: 16px

    .signup-with-email

    .form-inputs
      margin: 30px 0 10px
      +span-columns(8)
      +omega

      label
        text-transform: none
        font-weight: inherit
        display: inherit
        font-size: inherit

      .user_remember_me
        display: inline

    .form-actions
      text-align: center
      +span-columns(8)

      input[type="checkbox"]#user_newsletter_subscribed
        margin-bottom: 10px

      label
        font-weight: 300
        font-size: 14px
        margin: 0 0 15px

      &.login-signup-actions
        .btn
          margin-top: 10px
          width: 70%
          color: #fff
          text-decoration: none

          &.btn-facebook
            font-size: 16px

      a.link
        padding: 15px 0
        color: $text-color-light
        display: block
        text-decoration: none
      
  .btn
    margin: 0 auto

    &.btn-left
      margin: 0

  .footnote
    text-align: center
    margin: 20px 0
    +span-columns(8)

  a.link
    color: #55B1FF
    text-decoration: none

    &:hover
      text-decoration: none

  .bottom-link
    +span-columns(8)
    +omega
    border-top: 1px solid $border-color
    padding: 15px 0
    text-align: center
    margin-top: 20px

  .cc-num
    margin-bottom: 8px

  .cc-cvc
    +span-columns(4)
    +omega

  .cc-exp
    +span-columns(4)

  .label
    color: $text-color-light
    +span-columns(8)

  .desc
    +span-columns(8)
    margin-top: 15px
    
  .btns
    +span-columns(8)
    padding-top: 15px

    .btn
      margin-bottom: 15px
      padding: 12px 34px

    .btn:last-child
      margin-bottom: 0

    a.link
      color: $text-color-light
      display: block
      font-size: 14px

  // NEW PRICE
  &.edit_offer
    padding: 0
    width: 280px

    h4.title
      margin: 0 !important

  &.pending_booking
    padding: 0
    width: 440px

  .photo
    +span-columns(1 of 7)
    overflow: hidden

    img
      width: 100%

  .body
    +span-columns(6 of 7)
    +omega
    //padding-top: 8px
    font-size: 16px

  .new_message
    +span-columns(8)
    margin-top: 20px

  .light.center
    +span-columns(8)

  &.payment_form
    padding: 0

  &.payment_form
    .payment-form
      border: 1px solid $border-color
      +span-columns(8)

      header
        +outer-container
        margin-bottom: 0px
        border-bottom: 1px solid $border-color
        padding: 15px

        .photo
          +span-columns(1 of 7)

        .body
          +span-columns(6 of 7)
          +omega
          padding-top: 10px
          font-size: 16px
          font-weight: 400
          padding-left: 5px

          a
            font-size: inherit

            &:hover
              color: inherit

      > .body
        +span-columns(8)
        padding: 20px 30px

        form
          > .form-inputs
            margin-top: 0

            p
              font-size: 16px
              font-weight: 500
              margin-bottom: 14px

        .date
          +span-columns(4)

        .price
          +span-columns(8)
          padding-top: 15px
          margin-bottom: 10px
          font-weight: 400

        .payment-inputs
          +span-columns(8)
          border-top: 1px solid $border-color

          .form-inputs
            +span-columns(5)
            margin-top: 0

          > p
            font-weight: 500
            margin-top: 10px
            font-size: 14px !important

        .price,
        .payment-inputs
          border-bottom: 1px solid $border-color

        .btn
          padding: 10px 34px

        p.footnote
          padding: 0 30px
          margin: 10px 0

        .coupon-inputs
          +span-columns(8)

          a.link
            +span-columns(8)
            text-align: left

            &.coupon-show
              margin-top: 15px

          > div
            +span-columns(8)
            margin-top: 7px

            .input
              +span-columns(3)
              width: 47%

            .btn
              float: left
              padding: 10px 18px

  &.read_more
    width: 700px
    padding: 90px 120px

    p
      font-size: 18px

    .btns
      margin-top: 30px

      .btn
        padding: 12px 40px
        font-size: 18px

  &.yt-widget
    padding: 0
    width: 1200px
    background-color: transparent



.coupon-inputs
  +span-columns(8)

  a.link
    +span-columns(8)
    text-align: left

    &.coupon-show
      margin-top: 15px

  > div
    +span-columns(8)
    margin-top: 7px
    position: relative

    .input
      +span-columns(3)
      width: 47%

    .btn
      float: left
      padding: 10px 18px
      margin: 0

    > span
      float: left
      margin: 6px 0 0 9px
      font-size: 14px

      &[data-coupon="failure"]
        color: red

      &[data-coupon="success"]
        color: #417505




