.light
	color: $text-color-light
	font-weight: 300

hr
	border-top: 1px solid $border-color
	
.link
	color: #999
	display: block
	text-align: center

	&:hover
		color: $blue
		text-decoration: underline

.footnote
	font-size: 14px
	color: #999
	a
		color: #999
		text-decoration: underline


.cancel-booking
	margin: 20px 40px
	background-color: transparent
	color: $text-color-light
	border: 1px solid $border-color

	&:hover
		background-color: transparent
		color: $text-color

.btn-confirm
	margin: 20px 40px
	background-color: #1D7C05

	&:hover
		background-color: lighten(#1D7C05, 10%)

.right
	float: right

.left
	float: left
		