body
  background-color: #eee

header
  background-color: #fff
  overflow: hidden

  #logo,
  #city-switch
    float: left
  
  #logo
    a
      +retina-sprite(sidestage-logo, $sprite, $sprite2x)
      display: block
      text-indent: -5000px

  #city-switch
    width: 150px

  #main-nav
    float: right

