#splash
  background: #fff image-url('splash/background.jpg') top center no-repeat
  +background-size(cover)
  color: #fff
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

  #logo
    font-size: 32px
    +retina-sprite(sidestage-logo, $sprite, $sprite2x)
    text-indent: -5000px
    margin-top: 42px
  
  #text
    h2
      color: #fff
      font-size: 70px
      margin-bottom: 0px
      margin-top: 230px

    p
      font-size: 22px
      line-height: 1.4em
      margin-top: 13px
  
  .text-shadow
    +text-shadow(0px 2px 13px rgba(0,0,0,0.33))

  form
    background-color: rgba(#000, 0.3)
    +border-radius($border-radius)
    height: 50px
    margin: 0 auto
    padding: 10px
    width: 620px
    
    [type="text"],
    [type="submit"]
      +border-radius($border-radius)
      border: none
      font-size: 18px
      outline: none
      padding: 14px

    [type="text"]
      background-color: #fff
      color: #999DA2
      font-weight: 300
      width: 462px
  
    [type="submit"]
      background-color: #7bf
      color: #fff
      margin-left: 7px
      text-transform: uppercase
      width: 120px

      



