<!DOCTYPE html>
<html>
<head>
<title>Mail</title>
</head>
<body>

	<main style="font-family: 'Helvetica Neue', Arial, sans-serif; text-align: center; padding-top: 50px;">

		<%= image_tag "https://www.sidestage.com/assets/sprite/sidestage-logo-87fdb50bce2b796855e70157309e6a8c.png", alt: "Sidestage Logo", height: 40 %>

		<br/><br/>

		<section style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
			<%= yield %>
		</section>

		<br/><br/>

		<footer style="padding: 20px 0; color: #A9A9A9; font-size: 14px; font-weight: 300; border-top: 1px solid #DCDCDC; line-height: 1.45;">
			<p>Something not working? <br /> Contact <a style="color: inherit; text-decoration: none;" href="mailto:support@sidestage.com">support@sidestage.com</a></p>
		</footer>

	</main>

</body>
</html>