<p>
Hey <%= @user.name %>,
</p>

<%= yield %>

<p>
    Thanks,<br/>
    Sidestage team
</p>
<p>
    <a href="http://www.facebook.com/sidestagehq" target="blank">facebook.com/sidestagehq</a>    
</p>    