<p>Thank you for signing up on Sidestage. We need to verify that you are not a robot, which is why we are sending you this email.</p>
<br />
<p>To confirm your account simply by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
