<p>
You have a new message from <%= @message.sender.profile_name %>. Please log in to Sidestage to read it. 
</p>
<p>
<%= link_to "Log into Sidestage", account_conversation_url(@message.conversation) %>
</p>