<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
Hey <%= @profile.name %>,
</p>
<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
Congrats on publishing your profile on Sidestage! <br/>To get more out of Sidestage, share your profile on Facebook and/or Twitter.
</p>
<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
Go to your profile, and share it now: <%= link_to artist_url(@profile), artist_url(@profile) %>
</p>
<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
If any questions, or if you need help, let me know.
</p>
<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
Daniel
</p>