<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">Hello <%= @resource.email %>!</p>

<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">Click the link below to unlock your account:</p>

<a style="padding: 20px 25px 18px; background: #3e8ae5; color: #fff; font-weight: 600; margin-bottom: 30px; font-size: 15px; border-radius: 4px; display: inline-block; text-decoration: none;" href="<%= unlock_url(@resource, unlock_token: @token) %>">Unlock my account</a>