<p>
Hi <%= @profile.user.name %>,
</p>
<p>
I'm glad to see that you have signed up to <%= link_to "Sidestage.com", root_url %>. If you need help publishing your profile or have any questions about Sidestage feel free to drop me a line. 
</p>
<p>
Cheers!<br>
-- 
</p>
<p>
Daniel Roberts<br>
Co-Founder/CXO, Sidestage<br>
<%= link_to "www.Sidestage.com", root_url %>
</p>