<p class="text-center bg-success">Total: <%= collection.size %></p>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Verified?</th>
    </thead>    
    <%= render collection %>
</table>