<h4>Community</h4>
<ul>
  <li><%= link_to "Blog", "http://blog.sidestage.com/", target: "_blank" %></li>
  <li><%= link_to "Facebook", "https://www.facebook.com/sidestageHQ", target: "_blank" %></li>
  <li><%= link_to "Twitter", "https://twitter.com/sidestagehq", target: "_blank" %></li>
</ul>