<div id="cookies">
	<div class="wrap">
    <div class="flash-message">
    	This website uses cookies. If you don’t like cookies, please leave immediately.
    	<a class="close link" href="#">OK, I like cookies.</a>
    </div>
  </div>
</div>