<div id="flash-messages">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="flash flash-<%= name %>">
        <div class="wrap">
          <div class="flash-message">
            <%= msg %>
          </div>
          <div class="flash-close">
            <a class="close" href="#" data-dismiss="alert"><i class="fa fa-times"></i></a>  
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
