<div class="share-btns">
	<div class="btn-center">
		<a href="https://twitter.com/sidestagehq" class="twitter-follow-button" data-show-count="false" data-size="small" data-dnt="true">Follow @sidestagehq</a>
	</div>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<div class="btn-center">
		<div class="fb-like" data-href="https://www.facebook.com/sidestagehq" data-width="190" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
	</div>
</div>