<div id="personals" class="container">
    
	<%= render "account/personals/sidebar" unless @coming_from_profile_completion.present? %>

    <div class="content mobile-numbers">
        <%= render "verification", user: resource %>
    </div>
</div>
