<p class="text-center bg-success">Total: <%= collection.size %></p>
<table class="table table-striped">
    <thead>
        <th>Artist</th>
        <th>Customer</th>
        <th>State</th>
    </thead>    
    <%= render collection %>
</table>