<div class="form-inputs">
	<%= f.input :body, autofocus: true, placeholder: "Type your message here.", label: false %>
	<%= f.input :receiver_id, as: :hidden %>	
	<%= f.button :submit, value: "Send", class: "btn", data: { disable_with: "Sending..." }  %>
</div>
