<div class="form-inputs">
	<%= f.input :body, autofocus: true, placeholder: "#{t(:"simple_form.placeholders.message.reply.body")}", label: false %>
	<%= f.input :receiver_id, as: :hidden %>	
	<%= f.button :submit, value: "#{t(:"helpers.submit.message.reply")}", class: "btn", data: { disable_with: "#{t(:"helpers.submit.message.disable_with")}" } %>
</div>
